[2014-04-30 17:46] guilhermesimoes opened #1 "Logo"
Every good gem has a logo!

I envision something like the [Jenkins CI logo](https://addteq.com/images/jenkins_no_bg.png) + [a monocle](http://www.props-n-frocks.co.uk/prodimages/accessories/misc/D086.jpg), of course.

[2014-04-30 18:02] guilhermesimoes opened #2 "Improve access to project directory"
I don't like how [this is currently being done][reference], since `File.expand_path` expands the path relative to the current working directory.

When a user runs `rubycritic` from a directory other than the project root, RubyCritic will create a `tmp` folder on that directory...

Ideally we'd use `Rails.root`, but Rails is not Ruby.

[reference]: https://github.com/whitesmith/rubycritic/blob/0739

[2014-05-13 11:52] guilhermesimoes opened #3 "Add indicator that the gem is running"
In sizeable apps, it can take up to 20 seconds to generate the first report. Rubycritic should show a progress bar to keep the user happy :)

Gem candidates:

* https://github.com/jfelchner/ruby-progressbar

* https://github.com/thekompanee/fuubar

* https://github.com/paul/progress_bar

[2014-07-04 20:33] #1 closed, assigned to nobody

[2014-07-13 15:52] guilhermesimoes opened #5 "Analyse classes, not files"
I'm sad that I only realized this too late. Changing this will probably involve a major rewrite, but it will have to be done at some point.

[2014-07-22 21:40] kwerle opened #6 "(string):2:13: error: unexpected token tOP_ASGN"
# gem install rubycritic
# rubycritic .

I can supply more details if you want 'em.

...
...stupid lemmings and their bad erb templates... skipping
(string):2:13: error: unexpected token tOP_ASGN
  factory :<%= singular_name %> do
            ^^
/Users/kwerle/.rvm/gems/ruby-2.1.2/gems/parser-2.1.9/lib/parser/diagnostic/engine.rb:71:in `process': unexpected token tOP_ASGN (Parser::SyntaxError)

[2014-07-22 22:41] #6 closed, assigned to nobody

[2014-07-22 23:44] kwerle opened #7 "No such file or directory @ rb_sysopen"
/Users/kwerle/.rvm/gems/ruby-2.1.2/gems/rubycritic-1.0.1/lib/rubycritic/analysers/stats.rb:21:in `read': No such file or directory @ rb_sysopen - lib/zep_solar.rb (Errno::ENOENT)
	from /Users/kwerle/.rvm/gems/ruby-2.1.2/gems/rubycritic-1.0.1/lib/rubycritic/analysers/stats.rb:21:in `methods_count'
	from /Users/kwerle/.rvm/gems/ruby-2.1.2/gems/rubycritic-1.0.1/lib/rubycritic/analysers/stats.rb:14:in

[2014-07-23 12:17] aamirtharaj-rpx opened #8 "uninitialized constant Regexp::CODES (NameError) while running with Ruby 2.1"
Could you please look at the following error and give me the status:

`
/Users/antonyr/.rbenv/versions/2.1.2/gemsets/client_portal3/gems/ruby2ruby-2.0.8/lib/ruby2ruby.rb:1026:in`block in re_opt': uninitialized constant Regexp::CODES (NameError)
    from /Users/antonyr/.rbenv/versions/2.1.2/gemsets/client_portal3/gems/ruby2ruby-2.0.8/lib/ruby2ruby.rb:1026:in `map'
    from /Users/antonyr/.rbenv/ver

[2014-07-23 13:46] #8 closed, assigned to nobody

[2014-07-23 15:29] stupied4ever opened #9 "JSON template to help analisys"
I think that a json template would help to generate post build jenkins plugins to send emails on class degradation and other things what do you think? I could work on that, what do you think?

[2014-07-25 09:13] cveneziani opened #11 "Ignore/exclude files"
Is there a way to tell to rubycritic to exclude some file patterns?

[2014-07-27 22:28] #5 closed, assigned to nobody

[2014-07-28 16:20] midwire opened #12 "Undefined method `split' for nil:nilClass (NoMethodError)"
I am getting the following error consistently when running rubycritic on a particular project:

[code]

I will dig further but wanted to submit this to see if anyone else has seen it.

[2014-07-29 00:35] guilhermesimoes opened #13 "Reek reporting wrong line numbers for some smells"
An investigation will proceed.

[2014-07-29 17:05] abacha opened #14 "Integrate with rails_best_practices"
https://github.com/railsbp/rails_best_practices

[2014-07-30 11:44] simonharrer opened #15 "Integrate sandi_meter"
Integrate https://github.com/makaroni4/sandi_meter to check Sandi Metz rules.

[2014-08-02 16:25] #13 closed, assigned to nobody

[2014-10-06 19:22] kvannotten opened #18 "gems/rubycritic-1.1.1/lib/rubycritic/source_control_systems/git.rb:31:in `count': invalid byte sequence in US-ASCII (ArgumentError)"
I get this error after installing + running it against a rails app.

|  | Version |
| --- | --- |
| Ruby | 2.1.2 |
| RubyCritic | 1.1.1 |

[2014-10-13 16:39] #18 closed, assigned to nobody

[2014-10-14 07:16] Linuus opened #20 "Running analysers multiple times"
Hi!

I really like this project so I wanted to contribute to it. I was going to start with something small, like: https://github.com/whitesmith/rubycritic/issues/3

I found that the analysers are run twice, once from the `Orchestrator` https://github.com/whitesmith/rubycritic/blob/master/lib/rubycritic/orchestrator.rb#L15 which in turn runs the `RevisionComparator` which runs the analysers again,

[2014-11-08 07:05] jdickey opened #21 "Reek configuration?"
When I put a `reek.config` file in my `app/services` directory and run Reek from the command line, it reads and uses the config as expected.  When I run `rubycritic` (1.1.1, as packaged), smells (apparently from Reek) are reported for methods like `#method_missing?`.

If I make that an _invalid_ Reek config file, then the "Invalid configuration file" message is output twice for each file inspected

[2014-11-28 20:38] alcesleo opened #22 "Document usage of Git"
Hey, cool project! If I'm not mistaken, it checks things out with Git, this has the side effect of discarding changes in your Git tree if they haven't been committed, without warning.

This behaviour should at least be documented, or even better: exit with a warning if you try to run it with a dirty tree.

Cheers!

[2014-12-13 16:48] akshaymohite opened #23 "Showing current scan status while scanning files"
While going through list of files for analysis, scanning status should be displayed to the end user.
As it seems nothing is happening because no output is shown until end result is generated.

[2014-12-27 16:03] #23 closed, assigned to nobody

[2014-12-27 16:05] #21 closed, assigned to nobody

[2015-01-17 12:11] guilhermesimoes commented on #12
This has somewhat been fixed [upstream](https://github.com/seattlerb/flog/issues/49).

Given the following code:

[code]

Running `flog --all callback_spec.rb` yields:

[code]

That `none` method does not exist and so obviously it's missing its file and line, which is far from ideal.

However, using Flog's option to skip code outside of methods, the `none` method is omitted.

Running `flog --all -

[2015-01-17 12:11] #12 closed

[2015-01-26 06:07] LeeXGreen opened #25 "Ignore symlinks"
Hi,

I've been running RubyCritic on a large Rails project. We use Rails engines to organize / separate our code, and for better or worse, we have a number of symlinked files from one engine to another or back to the main app. (I'd like to remove these links eventually but that's another discussion.)

When we run RubyCritic on this project, we get a lot of duplicate code warnings, and the source/t

[2015-01-26 22:32] guilhermesimoes commented on #25
I am sensible of your problem and your proposed solution looks good to me.

Regarding your questions:

I think so too. But I'm surprised this issue hasn't come up before in more well known gems such as RuboCop or Reek.

I'm torn on this. I think it definitely should ignore a symlink if it points to a file that will be also included. However, if it points to a file outside of the current directory

[2015-01-28 03:07] drewbailey opened #27 "General Styling, GPA"
I recently started using this gem and was looking for a project to start contributing to and thought this would be a good choice!

From quickly looking over some of the codebase I thought adding an overall GPA indicator and some new styling would be a good place to start and wanted to see what your thoughts were?

[2015-01-28 23:21] guilhermesimoes commented on #27
Thanks for thinking of contributing! Any and all contributions are welcome.

Regarding the UI, scroll down to the bottom of this "[roadmap][1]" for a few ideas on where it could be heading.

If you get stuck inside the codebase, feel free to use this issue to ask questions. I've said in the past that I would add comments to the codebase but I still haven't gotten around to that. Maybe one of these

[2015-02-01 20:26] suryagaddipati commented on #9
Great gem!!

I was wondering if another generator(json?) was ever built. The only option right now seem to be html reporter.

[2015-02-01 22:30] guilhermesimoes commented on #9
Nope, nothing so far I believe. Though it shouldn't be *too* hard. I can probably tackle this on the next weekend.

[2015-02-08 21:11] #27 closed

[2015-02-08 21:12] guilhermesimoes commented on #20
I'm just closing for the sake of cleaning up, but feel free to continue the conversation!

[2015-02-08 21:12] #20 closed

[2015-02-09 19:52] guilhermesimoes commented on #25
Closed by #26 :clap:

[2015-02-09 19:52] #25 closed

[2015-02-10 04:32] LeeXGreen commented on #2
One suggestion, you could look upwards from the current directory for a source control metadata directory -- e.g. .git

I know this isn't transferable to systems besides Git, but it's a decent "best guess" algorithm IMO.

[2015-02-10 04:35] LeeXGreen commented on #3
Just a helpful note here: as of rubocop 0.28.0, it depends on ruby-progressbar so that might be a good choice.

[2015-02-10 21:01] guilhermesimoes commented on #3
That's a very good point. I'm quite confident that the next library to be integrated into RubyCritic will be RuboCop so having overlapping dependencies would be great.

Also, the RuboCop guys definitely know what they're doing so if they picked ruby-progressbar then it's because it's the best option.

[2015-02-26 18:40] davidgomes opened #30 "Settings file"
Instead of having settings purely as flags, it would be interesting to have a configuration file, which could be ported and used across several projects.

[2015-03-04 16:13] ancorgs commented on #9
I have already tried the new json formater and it rocks. Just a suggestion: could you include the cost for each analysed_module in addition to the rating? Letters are great for a quick review by a human eye, but when you are exporting to json you most likely want to process the output and in that contexts, numbers are more useful (and precise).

On the other hand, in https://github.com/whitesmith/

[2015-03-04 17:10] ancorgs commented on #9
It was actually completely trivial, so I created #31

[2015-03-04 20:41] guilhermesimoes commented on #9
Regarding the project rating: that's precisely the thing. How do we compute it? I feel like if the project rating is wrongly implemented it may either:

1. Not be valuable since it will always be too high.

2. Upset people since it will always be too low.

Also, from the moment we implement the formula and give a project rating, people will expect the rating to remain constant. So if we want to tw

[2015-03-04 20:56] guilhermesimoes commented on #9
Btw, @ancorgs, since you've been playing with the new JSON formatter... I just checked Reek's and Rubocop's JSON formatters and they both output the raw JSON to the console instead of creating a file. Do you think RubyCritic's should behave that way as well?

[2015-03-04 21:13] ancorgs commented on #9
Outputting to standard output is actually more flexible. In my case, I'm interested in the JSON formatter because I want to process the output, so I would actually prefer to have it on the standard output instead of a file.

[2015-03-06 17:27] natesholland commented on #30
I agree, I think a `rubycritic.yml` file would be a good candidate for how we handle settings.

[2015-03-14 18:22] guilhermesimoes commented on #9
@ancorgs Thanks for the feedback!

@suryagaddipati Took me a big longer than I expected but the JSON formatter is done. Try the new version 1.4.0!

For improvements on the JSON formatter, open a new issue :grinning:

[2015-03-14 18:22] #9 closed

[2015-03-16 16:03] natesholland commented on #3
I think we could tie this in at `AnalysersRunner#run` inside the `ANALYSERS.each` loop, or at the more granular level inside each Analyzer in their run method.

[2015-03-16 19:06] natesholland opened #37 "Allow configuring date range of Churn calculation"
I'm running rubycritic on a large project that's been running for 10 years so our git log is very long. I'm thinking we should limit it by commits within the last year in order to speed things up. My calculations showed that this would speed up the churn section by 500% on older projects.

[2015-03-16 21:40] natesholland opened #38 "analyzer modules run twice after previous run errored"
I'm not completely sure why this is happening but it seems as though if I use `ctrl-c` to exit out of a run, the next time I run rubycritic it runs the whole suite twice.

[2015-03-20 13:25] bankair opened #40 "Issue trying to parse a block with named parameters"
|            | Version |
|------------|---------|
| Ruby       | 2.0.0p353   |
| RubyCritic | 1.1.1   |

While trying to parse a ruby block with named parameters like follow:

[code]

I got some ugly error message:

[code]
I did not find any other issue that seemed to be related to this.

As we are currently using rubycritic to get code quality report at work, we would be very thankful of any tip

[2015-03-20 13:26] bankair commented on #40
Oh, and by the way, that ruby code seems to be legit (it runs and print 'info "message"', as expected.

[2015-03-20 17:12] guilhermesimoes commented on #40
Unfortunately this is an issue in [ruby_parser/issues#180][1] so there's nothing we can do about it :(

I'm going to find a way to catch these parsing errors though.

[1]: https://github.com/seattlerb/ruby_parser/issues/180

[2015-03-20 17:13] #40 closed

[2015-03-20 17:32] xdougx opened #41 "What heppend to my code?"
All my code has been lost when i use this gem? 5 days of code and test just get lost!
what hell this gem do when I run?

[2015-03-20 17:35] guilhermesimoes commented on #41
Hmm, did you cancel RubyCritic while it was running?

Could you check your git stash? `git stash show -p stash@{0}`

[2015-03-20 17:37] xdougx commented on #41
![screen shot 2015-03-20 at 2 37 01 pm](https://cloud.githubusercontent.com/assets/1920415/6757276/9d7c8dee-cf0e-11e4-8d20-cd728866abaf.png)

[2015-03-20 17:38] xdougx commented on #41
i didnt stop, it just get a exception and stop running

[2015-03-20 17:39] guilhermesimoes commented on #38
RubyCritic always runs twice for a certain commit. This way we can compare changed code with committed code so we can tell which smells were recently introduced (before they are committed). After running the first time, we save the commit analysis in a file so we don't have to analyse that commit again.

There's a `--mode-ci` which you can use to skip this behaviour.

[2015-03-20 17:39] #38 closed

[2015-03-20 17:39] xdougx commented on #41
63 files changed, 596 insertions(+), 1201 deletions(-)

[2015-03-20 17:40] xdougx commented on #41
How can i get it back?

[2015-03-20 17:41] guilhermesimoes commented on #41
Try `git stash apply`.

[2015-03-20 17:49] xdougx commented on #41
Fine, its work, all my files get back to theirs places, but what really happens when i run rubycritic

[2015-03-21 13:32] bglusman commented on #30
In [debt_ceiling](https://github.com/bglusman/debt_ceiling) I use the [Confirguations gem](https://github.com/beatrichartz/configurations), and read in a  ruby file with rails like configuration block...  I think I prefer that to yml, but agree having settings/config is a good idea.

[2015-03-21 13:36] bglusman commented on #37
Relatedly @guilhermesimoes, I was just trying to upgrade debt_ceiling to the new 1.4 version so I can avoid using the rubycritic internals the way you showed me a few months back, but it's WAY slower now, even in :ci mode, which I beleive skips the churn analysis, correct?  I'd like to use your latest, but I may have to roll back to old version unless there's some undocumented way I'm missing to g

[2015-03-21 13:47] bglusman opened #42 "Document supported ruby versions/integrate Travis for those versions"
As I mentioned in #37, upgrading rubycritic broke debt_ceiling, because I support/test against 1.9, JRuby (1.9 mode), 2.x and RBX, and 1.4 introduced Hash#to_h usage, which isn't supported in 1.9.  So while I'd like this fixed, if you want to support 1.9, I realize 1.9 is now officially deprecated and maybe the real fix is to just make explicit what you support and perhaps add Travis for each of t

[2015-03-22 20:34] guilhermesimoes commented on #42
Every Ruby specified in the Travis config is supposed to be supported. Even though people should upgrade, [a lot of them are still on 1.9](https://semaphoreci.com/blog/2014/08/27/ruby-version-usage-in-commercial-projects-2014-edition.html).

I didn't realize `to_h` broke 1.9, I'm going to fix that.

[2015-03-22 20:34] #42 closed

[2015-03-22 21:07] guilhermesimoes commented on #42
So I tried running RubyCritic on 1.9 and everything worked fine. What is it exactly that is breaking in your case? Can you provide a stack trace?

[2015-03-22 21:18] guilhermesimoes commented on #41
RubyCritic analysis your code twice. First, it analyses your code as is. Then, it uses Git to go your last commit and analyses that code as well. This way, it can compare your before and after code and determine if you are introducing new code smells. Finally, if everything works correctly, it uses Git to go back to your original code.

Unfortunately, something broke which prevented RubyCritic fro

[2015-03-22 21:18] #41 closed

[2015-03-23 00:27] #22 closed

[2015-03-23 00:49] guilhermesimoes commented on #37
@bglusman `--mode-ci` does not skip churn calculation, since we need it to generate that "Complexity vs Churn" scatter plot. That mode simply makes sure that RubyCritic runs once instead of twice.

The things is, using the new API, you're running [all these analysers](https://github.com/whitesmith/rubycritic/blob/4219403a524db249ebd18d00ba8e836e9f486b5f/lib/rubycritic/analysers_runner.rb#L14-L19).

[2015-03-23 01:33] bf4 commented on #40
Or switch to https://github.com/whitequark/parser :)

[2015-03-23 01:35] bf4 commented on #7
My guess is that this is some disconnect between a file being in version control and being on the file system.  e.g. if you delete a file but don't commit it, it will still show up in `git ls-files`, which is a good reason to check `File.readable?(path)` on every file before reading it in :)

[2015-03-23 02:21] bglusman commented on #42
@guilhermesimoes sure! Easiest repro is checking out debt_ceiling on one of the updated branches, use  a 1.9 ruby (I did this with ` rvm use 1.9.3-p362`) and removing `lib/debt_ceiling/compatibility.rb` and the require line in `lib/debt_ceiling.rb` and run the test suite, or just run the binary on debt ceiling itself (`bin/debt_ceiling`) If you clone the repo this branch will work:
`git co upgrade

[2015-03-23 02:58] bglusman commented on #37
@guilhermesimoes hmm, OK, that makes sense...  after some changes I'm actually using most of all of these analyzers now, EXCEPT for churn, so being able to turn that off (which I thought we discussed specifically for ci mode in November) would be great, but yeah, making it a more general feature to specify which makes sense.  I suppose since I'm using most of them now I could leave it as is, or go

[2015-03-23 13:01] guilhermesimoes commented on #40
Oh, I'm using `parser` alright, it's definitely the best cross-Ruby parser. But as you can see from the stack trace, this is a `Flog` (and `Flay`) dependency :(

I've been thinking about rewriting `Flay` from scratch using `parser` for a while now. `Flay` does not return the line where the code duplication ends because `ruby_parser` does not provide that information. And I'd love to have that in R

[2015-03-23 13:20] xdougx opened #43 "Is this normal?"
![screen shot 2015-03-23 at 10 18 54 am](https://cloud.githubusercontent.com/assets/1920415/6780676/1eb610ae-d146-11e4-9877-6e9dfb67d170.png)

Im using ruby singleton class but, i got this error, is this normal?

[2015-03-23 13:38] bf4 commented on #40
And probably need to defeat ryan davis in hand to hand combat....

[2015-03-23 13:45] guilhermesimoes commented on #43
Yes, that's normal. In fact, if you run RubyCritic over RubyCritic, you'll find a couple of those issues. That issue is not without its merits, but I've thought about turning it off a few times :)

You can turn it off by creating a `.reek` file with the following configuration:

[code]

Or by adding a special comment before that method. For more information, check [Reek's wiki](https://github.com/

[2015-03-23 13:45] #43 closed

[2015-03-23 13:49] bankair commented on #40
Ermm... This start to looks dangerous. Who needs keyword parameters in block, anyway ? :)

[2015-03-23 13:55] guilhermesimoes commented on #7
In this case it's really the file that disappears during analysis. I guess `File.readable?(path)` is an easy solution... but I'd rather work on an option to exclude certain files. I don't think it's RubyCritic's job to deal with these weird edge cases.

Btw, I really appreciate your input, @bf4. I can't tell you how many times I looked into MetricFu's internals to figure out how to do something :)

[2015-03-23 14:02] guilhermesimoes commented on #40
Ahaha I watch most of his GitHub repos, so I'm already aware... I wouldn't want that, no sir aha

If I ever rewrite Flay, I'll let you know ;)

[2015-03-23 16:30] brandondrew commented on #41
In order to guard against alarming users in cases where there's an interruption between reverting to the previous commit and moving ahead to the current code, perhaps it might be a good idea to add a file to the working directory named (in shouting caps) "HOW_TO_RETREIVE_YOUR_LOST_CODE.md" (or something like that).  It could be automatically removed as soon as the code was back to normal, so it wo

[2015-03-23 17:53] xdougx commented on #41
+1

[2015-03-23 18:44] bf4 commented on #7
And hopefully how not to as well :)

[2015-03-24 02:32] bf4 commented on #40
Well, that bug is now fixed in https://github.com/seattlerb/ruby_parser/commit/a1750d474c4309a9166afc63cfcde35a6f8241ad

[2015-03-24 07:50] bankair commented on #40
Great, can't wait to see that fix included in the next rubycritic release.

Thanks, guys !

[2015-03-25 19:28] eostrom opened #45 "Upgrade to Reek 2.0.3 which fixes calling super with parameters"
RubyCritic started crashing when run on my codebase:

[code]

Reek 2.0 has what [looks like a fix](https://github.com/troessner/reek/commit/7b9af8c63c3f2ca40d47e378a12398122d46706d): "Make NestedIterator not break when iterator is called on super."

I forked the RubyCritic code and tried updating Reek. The tests now fail for two reasons:

  * `samples/reek/smelly.rb` now has two smells, not one; t

[2015-03-25 23:13] LeeXGreen commented on #45
I think this fix *should* be in Reek 1.6.5 as well (see https://github.com/troessner/reek/issues/379), so I'm not sure why you're seeing this.

[2015-03-25 23:57] eostrom commented on #45
Good catch, thanks. I guess I have to actually debug.

[2015-03-26 00:34] eostrom commented on #45
It looks like the fix handles `super` but not `super()`, which is necessary if, say, you want to make an `Enumerator` subclass whose initializer takes parameters. I'll pursue that over in the Reek repo.

[2015-03-27 00:31] guilhermesimoes commented on #7
Ha!, maybe :smile:

Well, it certainly made me avoid implementing any kind of global configuration file to configure all the integrated gems. Seemed really time consuming to keep up with all the gem changes and I was on a tight schedule (RubyCritic was my master thesis' project).

[2015-03-27 04:19] bf4 commented on #7
Well, lemme know if you want to collaborate.  MetricFu could use a lot of the fresh code and ideas in here. (Also, much prettier, sigh). BTW, have you seen quality and pronto? https://github.com/metricfu/metric_fu/wiki/Code-Tools

[2015-03-27 05:17] LeeXGreen commented on #45
Thanks for the debug :)

[2015-03-29 03:19] topher6345 commented on #45
I'm also getting this error from rubycritic via reek 1.6.3
`~/.rvm/gems/ruby-2.1.5/gems/reek-1.6.3/lib/reek/smells/nested_iterators.rb:73:in `ignored_iterator?': undefined method `method_name' for (zsuper):#<Class:0x007f9d15c82418> (NoMethodError)`

the code that triggers the error is this:

[code]

[2015-03-29 05:33] eostrom commented on #45
That one should be fixed in the current release of RubyCritic, which uses
Reek 1.6.5.

On Sat, Mar 28, 2015, 10:19 PM Topher <notifications@github.com> wrote:

[2015-03-29 05:41] topher6345 commented on #45
Works beautifully in RubyCritic 1.4.0. I wasn't paying attention to my Gemfile. Sorry for the false bug. Thanks a bunch for the timely response.

[2015-04-07 02:48] mpz opened #48 "Integrate with rollbar.com or simular?"
We can web hook for rollbar with global statistic of code: smell, gpa, etc

[2015-04-10 08:31] born4new commented on #11
What's the status for this feature @guilhermesimoes ? Did you decide which you wanted to go with it? (yml config or CLI)

[2015-04-16 03:46] yoshikischmitz opened #50 "Option To Display Raw Scores Instead of Letter Grades"
The cut scores for letter grades and their associated colors seem somewhat arbitrary. As I understand it this is a feature that is based off of codeclimate's "rating" feature.

It would be useful to have an option to display just the scores, so that you can compare the relative quality of individual files, as well as sort them, reserving judgement for the programmer. If the maintainer feels this i

[2015-04-27 14:58] Linuus commented on #3
Hi!

I just remembered that I actually experimented with this in rubycritic a long time ago. It uses ruby-progressbar

Example:
![skarmavbild 2015-04-27 kl 16 55 47](https://cloud.githubusercontent.com/assets/379823/7350242/71cbb5fe-ecfe-11e4-8ea7-03078730e88a.png)

Is that enough or do we want an even more granular progress bar? Maybe it just adds noise... :)

Interested?

[2015-04-27 15:00] natesholland commented on #3
I know we definitely want a progress bar. I took at a pass at it here: https://github.com/whitesmith/rubycritic/pull/36 but I don't think it could hurt to have two different takes on it.

[2015-04-27 15:04] Linuus commented on #3
Oh, right. I didn't  see that PR :)

@guilhermesimoes Any thoughts?

[2015-04-29 08:26] Linuus opened #54 "Improving (?) interface"
Hi!

I experimented a little bit the other day improving on the interface. Before I go any further I'd just like to see what you think about it. :) I haven't done that much yet and I'm definitely no designer. I've mostly worked on the code file page.

It is based off of  Bootswatch Sandstone [Link](https://bootswatch.com/sandstone/).

Anyways... Here are some gifs.

Gif 1
![screen1](https://cloud.

[2015-05-03 20:20] Linuus commented on #54
Ping @guilhermesimoes

[2015-05-03 21:26] johnkelly commented on #30
+1. It would be great to specify in a config file which folders ruby critic should critique.

[2015-05-06 05:22] doomspork commented on #54
I like the new code page :+1:

[2015-05-10 19:59] pedrobachiega commented on #45
Still happening here:
[code]
[code]

some help, please?

[2015-05-10 20:50] eostrom commented on #45
@pedrobachiega If your code specifies parameters to `super` (i.e., you call `super()` instead of `super`), this is probably a [Reek bug](https://github.com/troessner/reek/issues/404). A [fix](https://github.com/troessner/reek/pull/424) has been [released in Reek 2.0.4](https://github.com/troessner/reek/compare/v2.0.2...v2.0.3), and [merged into RubyCritic master](https://github.com/whitesmith/ruby

[2015-05-10 21:47] pedrobachiega commented on #45
thanks @eostrom !
using the master from github worked!

[2015-05-15 17:57] marceloboth commented on #54
Good job @Linuus :+1:

[2015-05-27 09:25] Xadozuk opened #56 "Reek custom configuration"
I've created a `config.reek` file in the root of my Rails project but it doesn't seem to be read by reek when run through `rubycritic` command.
I've tested with only the `reek` command and it works well, my configuration is applied.

Is this the normal behavior or am I doing something wrong ?
I saw the issue #21 and it seems this was possible in version 1.1.1 of rubycritic.

My `config.reek`
[code

[2015-06-13 11:18] #54 closed

[2015-06-26 18:37] lucasmazza opened #57 "Expose Reek parameters attribute"
Reek `SmellWarning` class has a `parameters` Hash that contains more details about each smell, like the number of external references on a `FeatureEnvy` smell, which could be useful to identify which smells are bigger than others. Would be interesting to expose this information somehow through Rubycritic so end users can know more about the smells that were detected by reek.

Would make sense to h

[2015-07-04 22:27] troessner opened #58 "reek 3 has been released"
reek 3 has been released: https://troessner.wordpress.com/2015/07/04/reek-3-has-been-released/
and one of the biggest feature is a stable, simple API: https://github.com/troessner/reek/blob/master/docs/API.md
Since rubycritic uses a pretty old version of reek (2.0.4 with the current being 3.0.3) I think it would be great if you could upgrade to the latest version.
Not to mention that we fixed quit

[2015-07-23 03:39] jbodah opened #59 "Incomplete constant name if file has no methods"
Given

[code]

Instead of showing up as `Office365::User` it simply shows up as `User` (which also shows up for `app/models/user.rb`)

<img width="796" alt="rubycritic" src="https://cloud.githubusercontent.com/assets/6093002/8842649/c1d9f532-30ca-11e5-8891-69802870d101.png">

[2015-07-23 03:41] jbodah opened #60 "Code view Filter/Search"
While I can just `cmd + f` for the things I'm interested in, it would be great to be able to filter the "Code" view results by a keyword. This way I can quickly check all of the modules under a certain namespace that I'm working on for flaws

[2015-07-23 03:45] jbodah opened #61 "Verbose mode"
With a large code base it's difficult to tell if `rubycritic` is stuck or not or to determine what might be causing it to be running slowly. Some kind of verbose mode would help alleviate some of those issues

[2015-07-23 03:48] jbodah opened #62 "Highlight entire indentical block on DuplicateCode smell"
Right now there's just a banner under the first line where a DuplicateCode smell is detected. In this particular example the UI makes it seem as though only the method signature is duplicated. Highlighting the entire block would help make it more clear what is duplicated

<img width="518" alt="rubycritic" src="https://cloud.githubusercontent.com/assets/6093002/8842746/0e5744b8-30cc-11e5-9495-48dfd

[2015-09-02 02:52] bparanj opened #63 "Document Ratings"
What are the different ratings? What do they mean? It's not clear from the code or documentation what the desired ratings should be.

[2015-09-09 03:18] bglusman opened #64 "Extract SourceControl subdirectory to gem?"
Hey @guilhermesimoes or whoever else is working on rubycritic these days!

I've continued working on [Debt Ceiling](https://github.com/bglusman/debt_ceiling) off and on the last year or so, and just finished a v1 of a big new feature...  It adds/requires additional git/source control dependency, and while I considered using rugged, I decided to look at what you guys did for git code and liked your

[2015-09-20 22:02] bglusman commented on #64
Also considering this one, which also supports bazzar... https://github.com/blackducksoftware/ohloh_scm

[2015-09-25 10:07] seanhandley opened #65 "Strange errors on Circle CI"
I'm seeing strange behaviour when I rub rubycritic on Circle CI. I assume it's something to do with the container environment but it's not clear from the output what the culprit is.

Any advice appreciated!

[code]

[2015-09-25 10:26] #65 closed

[2015-09-25 10:26] seanhandley commented on #65
Ignore - passing the "app lib" args makes it ignore vendor.

[2015-10-19 20:04] pedrocarmona commented on #64
:+1:

[2015-10-25 08:15] nijikon commented on #58
Can we at least create a new version that has the reek 2.x dependency?

[2015-10-25 08:17] nijikon commented on #58
/cc @eostrom @guilhermesimoes

[2015-11-09 10:17] nijikon commented on #58
ping

[2015-11-09 13:09] troessner commented on #58
@nijikon I guess you have to look into this yourself I'm afraid :(
If you come up with a preliminary pull request pointing at this repo I'd try to help you where I can though ;)

[2015-11-10 20:07] troessner opened #68 "Drop support for 1.9"
In the light of #67 I suggest to drop support for 1.9 completely.
Support for ruby 1.9 has been dropped for quite some while, we should let it die here as well.

From what I can see in order to make this happen we'd need to:

* remove it from travis. We could also make it an allowed failure but I don't see the point in this specific case
* major version bump
* explicitly list it on our README

Wha

[2015-11-10 20:35] guilhermesimoes commented on #68
[Also change this line in the gemspec.](https://github.com/whitesmith/rubycritic/blob/master/rubycritic.gemspec#L16)

I'm in favour, people should be forced to upgrade for their own good.|

[2015-11-10 20:37] guilhermesimoes commented on #62
That is something that has bothered from the start of this project. It's on [the roadmap™](https://github.com/whitesmith/rubycritic/wiki/Roadmap).

Unfortunately, the gem we currently use to detect duplicate code, Flay, does not support that use case.

[2015-11-10 20:46] Onumis commented on #68
Agreed!

[2015-11-10 22:00] guilhermesimoes commented on #63
It's on [the roadmap™](https://github.com/whitesmith/rubycritic/wiki/Roadmap).

Still, [this should help](https://gist.github.com/brynary/21369b5892525e1bd102).

[2015-11-11 01:46] guilhermesimoes opened #70 "A new direction for RubyCritic"
As many of you probably noticed, this gem hit a halt around half a year ago.
What happened was that I made a few personal choices that left me with little time to dedicate to the project and I also lost some of the will to continue this endeavor.

From the very start I wanted this gem to be all-encompassing and cater to all kinds of developers and all kinds of projects. The problem is that there a

[2015-11-11 09:29] troessner commented on #70
Thanks for the flowers ;)

[2015-11-11 12:22] #68 closed

[2015-11-11 12:42] Onumis commented on #70
Thanks, your work is in good hands! :sunglasses:

[2015-11-11 15:11] lucasmazza opened #73 "Support project specific Reek configuration"
RubyCritic ships with a built in `config.reek` file but I believe it would be interesting to support a local `.reek` file (or an argument on the CLI) and an option on the Ruby API to pass the pathname. What do you folks think about it?

[2015-11-11 16:07] troessner commented on #73
**Big** :+1:  from my side. Especially since we have made Reek's configuration abilities [significantly more powerful](https://github.com/troessner/reek#configuration-options) .

[2015-11-11 16:12] lucasmazza commented on #73
:+1: I'll see if I can sketch something for that then.

[2015-11-11 16:28] troessner commented on #73
That would be awesome!

[2015-11-11 19:14] troessner commented on #45
We're now on Reek 3.6, closing this one.

[2015-11-11 19:14] #45 closed

[2015-11-11 19:14] troessner commented on #58
We're on 3.6 now, closing this.

[2015-11-11 19:14] #58 closed

[2015-11-11 19:20] nijikon commented on #58
@troessner awesome, just updated to 2.1.0 :heart:

[2015-11-11 19:21] troessner commented on #57
We recently revamped SmellWarning significantly https://github.com/troessner/reek/blob/master/lib/reek/smells/smell_warning.rb#L17 - should be easier to use it now. Pull request welcome!

[2015-11-11 23:03] LeeXGreen commented on #45
Version 2.1 is on Reek 3.6, which is not compatible with Ruby 1.9.

Do you plan to release the bugfix commits on master, after the v1.4.0 tag?

Are there any plans to release bugfixes for the v1.X series of RubyCritic?

[2015-11-11 23:09] natesholland commented on #45
And a follow up on that: can we make a branch for 1.4 so that if we want to make pull requests for bug fixes for 1.4 we have a good target to point it at?

[2015-11-12 02:07] Onumis commented on #45
We should focus on the current ruby versions and not back-port fixes as that generally is too much effort for little proffit.
That being said, I see no problem on doing eventual fixes to v1.4, but never new features.

[2015-11-12 12:01] troessner commented on #45
That being said, I see no problem on doing eventual fixes to v1.4, but never new features.

Couldn't agree more.

[2015-11-12 12:56] guilhermesimoes commented on #73
When Reek runs it automatically picks up any `.reek` files along the way. It should behave exactly the same way with RubyCritic. I don't think any extra configuration should be needed. In fact, it used to work like that but I guess it stopped working :(

[2015-11-12 13:04] guilhermesimoes commented on #73
Also, here's an explanation for a few choices in the opinionated [`config.reek`][1] that ships with RubyCritic:

* NestedIterators: max_allowed_nesting: 2

  This is so we don't flag Rails' `respond_to do |format|`.

* `Uncommunicative*Name`

  These smells conflate two separate issues: quality and style.
  Short names like `i` or `n` = quality issue
  Names using snake_case or numbers (what's wro

[2015-11-12 13:10] lucasmazza commented on #73
@guilhermesimoes I believe reek isn't picking up the local configuration because rubycritic is explicitly [passing it's own](https://github.com/whitesmith/rubycritic/blob/5f3de42dda75a57f84844dd099b3310338a16f01/lib/rubycritic/analysers/helpers/reek.rb#L8-L12)? So the default always take precedence over the local one.

[2015-11-12 14:23] troessner commented on #73
Yep, that's exactly why.
Let's fix that.:)

[2015-11-12 20:54] troessner commented on #73
@lucasmazza @Onumis let's drop the default config file for Reek in RubyCritic.
Reek has an excellent [configuration loading mechanism](https://github.com/troessner/reek#configuration-loading) and we should just leverage that.
Additionally we [revamped our docs](https://github.com/troessner/reek#configuration-options) significantly so it should be so easy for people to configure Reek, that I don't

[2015-11-12 22:25] Onumis commented on #73
It makes sense but I'm concerned about current users suddenly seeing different things when they update RubyCritic.
Do you happen to know if the differences between our default config file for Reek and Reek's defaults?

For example, if `DuplicateMethodCall: max_calls: 2` is different, people will probably get very confused.

[2015-11-12 23:21] guilhermesimoes commented on #73
I agree with what you're saying @Onumis. But maybe you should take the opportunity of having moved on to 2.0.0 and change this ASAP. Break what you can while you still can.

Removing this default config file is probably easier than refactoring a ton of code just to accommodate it.

I tried to make RubyCritic a little opinionated because I was mimicking Code Climate. Clearly people want more contro

[2015-11-13 09:49] troessner commented on #73
Let me list Reek defaults after the "#":

[code]

I can see why people would disable this but ever since we made it possible to ignore it for private methods (which is the nr. 1 annoyance) via https://github.com/troessner/reek/pull/698  I don't think this should be disabled anymore since  UtilityFunction on public methods are normally valid.

I believe we should take the Reek defaults in all of th

[2015-11-14 18:08] Onumis commented on #73
Well, ok, I guess this is for "the greater good".

[2015-11-15 13:01] troessner commented on #73
WIP branch up: https://github.com/whitesmith/rubycritic/tree/use-reeks-default-configuration-loading
I'll work on a pull request the next days ;)

[2015-11-18 00:12] JoaoGFarias opened #76 "RubyCritic 1.4.0 - Reek crash"
I'm running RubyCritic version 1.4 for my project is using Ruby 1.9.3

When install rubycritic using the gem install rubycritic -v 1.4.0 command on an OSx machine.

Reek crashes during the execution. Following is the stacktrace:

/Users/jgfd/.rvm/gems/ruby-1.9.3-p551/gems/reek-1.6.5/lib/reek/smells/nested_iterators.rb:73:in `ignored_iterator?': undefined method `method_name' for (super (NoMethodEr

[2015-11-18 00:38] LeeXGreen commented on #76
This is a duplicate of #45 -- it has been fixed on master but the maintainers have not specified whether they will be releasing this fix under the v1.4 branch or not.

[2015-11-18 00:41] LeeXGreen commented on #76
You might be able to work around it by specifying the particular ref that contains this fix in your Gemfile (disclaimer -- I have not tested this specific ref):

`gem 'rubycritic', git: 'https://github.com/whitesmith/rubycritic.git', ref: 'b301ad0ff228fa2f376f24caf251bd894212460f'`

[2015-11-18 02:28] JoaoGFarias commented on #76
Thanks @LeeXGreen, closing this issue and watching the #45
I wil try this work around.

[2015-11-18 02:28] #76 closed

[2015-11-19 18:10] troessner opened #77 "Document how RubyCritic configures its analyzers"
Issue originated in #75

[2015-11-20 09:13] troessner commented on #77
I'll look into this the next days, assigning this to myself.

[2015-11-20 14:44] #73 closed

[2015-11-21 18:20] lucasmazza commented on #56
Addressed by #75 :smile:

[2015-11-21 18:20] #56 closed

[2015-11-23 18:57] JakeTheSnake3p0 opened #81 "Cannot parse colon style hashes?"
Right off the bat the gem is giving me irreconcilable errors (it doesn't understand the following code):

[code]

Error:

[code]

[2015-11-23 20:10] #70 closed

[2015-11-23 20:54] troessner commented on #81
Just did the same thing using the same versions you did and couldn't reproduce it.
Can you please post:

1.) the full stacktrace including what you type in the console
2.) the output of

[code]

[2015-11-23 21:56] JakeTheSnake3p0 commented on #81
Ruby: `ruby 2.2.1p85 (2015-02-26 revision 49769) [i686-linux]`
Rubycritic: `RubyCritic 2.1.0`

Gem List Rubycritic:
[code]

Gem List Reek:
[code]

All I had done was run `gem install rubycritic` into my @global RVM gemset.

[2015-11-24 10:13] troessner commented on #81
No idea what's going on here but it seems like this is a problem that is specific to your machine set up, but not to rubycritic. On my machine this works as expected:

[code]

with foo.rb being:

[code]

I don't know much about rvm but I guess there is something wrong with your rvm set up.

[2015-11-25 17:00] deepredsky commented on #11
+1 to adding the command line flag to ignore a pattern or path

[2015-11-27 16:10] JakeTheSnake3p0 commented on #81
Even stranger...I don't get any errors with the `foo.rb` example you gave. However I did an even simpler test which hopefully garners some insight:

[code]

yields no errors

[code]

yields errors

[code]

[2015-11-27 17:16] Onumis commented on #81
Ok now that makes sense!
I didn't knew that: `{ "my_key": "my value" }` or `{ 'my_key': "my value" }` are valid syntax on Ruby 2.2.
Thanks, gonna add this to the todo list.

[2015-12-02 20:07] guilhermesimoes commented on #68
[Ruby Version Usage in Commercial Projects, 2015 Edition](https://semaphoreci.com/blog/2015/12/01/ruby-version-usage-in-commercial-projects-2015-edition.html)

Hopefully those 22% will upgrade :grinning:

[2015-12-18 19:00] Onumis commented on #81
I was trying to track this down now but could not reproduce the error on my machine.
I tried with RubyCritic 2.1.0, 2.2.0 and 2.3.0; Reek 3.6.0 and 3.7.1; Ruby 2.2.0p0 and 2.2.1p85...

[code]

@JakeTheSnake3p0 either the error comes from somewhere else, or something is wrong with your RVM setup as @troessner suggested.

[2015-12-18 20:02] Onumis commented on #7
Closing this since it's not RubyCritic's job to determine if a file went missing mid-analysis.

[2015-12-18 20:02] #7 closed

[2015-12-19 12:20] samstickland commented on #81
Just off the top of my head - because I'm not in front of my dev box at the
moment - I think the problem may manifest itself in named arguments?

i.e.

def simple_addition(a:, b:)
  return a + b
end

simple_addition(a: 1, b: 2)

=> 3

Sam

2015-12-18 19:03 GMT+00:00 Nuno Silva <notifications@github.com>:

[2015-12-19 15:24] troessner commented on #81
@JakeTheSnake3p0 like i said above: This seems to be a problem with the local set up and **not** RubyCritic. We use the parser gem which can handle all of your syntax examples above regardless it it's

[code]
or

[code]

or any other form you might come up with.

@samstickland it has nothing to do with keyword arguments, your example passes just fine.

@JakeTheSnake3p0 could you please quickly try

[2015-12-19 22:13] JakeTheSnake3p0 commented on #81
Looks like you're right, I now have another VM to test on and I'm not getting the errors.

[2015-12-29 17:57] jbodah commented on #61
Seems fixed in current version (has dot reporter), closing

[2015-12-29 17:57] #61 closed

[2015-12-30 14:58] jbodah opened #89 "add a console report"
AFAIK the only outputs we have are json file and html file. It would be nice to just enable it to print a summary to the screen instead of to a file

Might take a go at this some time soon, just want to document it

[2015-12-30 15:03] jbodah opened #90 "Remove dependencies between analysers"
I took a brief pass at trying to add an `--only` option to restrict certain analysers from running, but it seems that there is some dependencies between the analysers during a run that I fully grok yet.

For reference, my initial attempt at adding an `--only` option https://github.com/jbodah/rubycritic/commit/8d54cea734bc4bc1fd86f2130dd24a899e76d275

[2015-12-30 15:04] troessner commented on #89
Yes, that would be really nice, I agree.

By all means, please go ahead ;)

[2015-12-30 15:08] jbodah commented on #90
Note "between analysers" is not really the right choice of words. It's really that the run was expecting something that wasn't there when I only used the `Flay` analyser

[2015-12-31 11:31] troessner opened #93 "Define a first version of our public API"
Originated from #92

[2015-12-31 11:34] troessner commented on #30
Agree, would be useful. Would somebody like to take a stab at this? ;)

[2015-12-31 11:36] troessner commented on #48
So far there has been no interest in this. Closing this one. We might want to re-open this once we are sure where we are going with this gem.

[2015-12-31 11:36] #48 closed

[2015-12-31 11:37] troessner commented on #3
#36 has been merged, closing this one.

[2015-12-31 11:37] #3 closed

[2015-12-31 11:37] troessner commented on #57
Not much has happened here in half a year - closing this one.

[2015-12-31 11:37] #57 closed

[2016-01-07 00:16] jbodah opened #94 "Analysers running twice in some cases"
Haven't been able to dig into this yet, but it's been happening a lot lately. Will report more as it comes up. Figured I'd post in case others were experiencing this. Seems to happen whenever I destroy the tmp folder:

[code]

[2016-01-07 00:20] jbodah commented on #94
<img width="697" alt="1__bash" src="https://cloud.githubusercontent.com/assets/6093002/12158723/81576e04-b4aa-11e5-8eea-a5e777e01ba1.png">

[2016-01-07 00:24] jbodah commented on #94
[code]

[2016-01-07 00:29] jbodah commented on #94
Looks like it might be trying to compare my working copy with my git head, but my working copy is totally clean, so this is just running the same thing again

[2016-01-07 06:41] troessner commented on #94
Confirmed, happens on my machine as well.

[2016-01-07 12:16] troessner opened #95 "Make RubyCritic usable as Rake task"
Coming from #85 I'd like to take this over and start fresh.

[2016-01-07 12:27] troessner commented on #2
I don't think there's a stable solution that will work through all major use cases.
We'd have to make a lot of assumptions that will turn out wrong for quite a few users. Who then rightfully will create a bug report here.

We have the "path" flag already:

which should work for all users.
Additionally this issue has been parked here for 1.5 years with no activity -> closing.

[2016-01-07 12:27] #2 closed

[2016-01-07 12:30] troessner commented on #11
Due to RC's nature this is not really trivial since we aggregate multiple tools and those tools have a different understanding of how you can exclude and include paths. And some might not even offer an "exclude" functionality.
Nevertheless I can see that this feature would be highly valuable.
I'll take the first step for getting this feature going when I'll address #77

[2016-01-07 12:31] troessner commented on #30
The same comment I wrote for #11 applies here:

Nevertheless I can see that this feature would be highly valuable.

;)

[2016-01-07 13:16] troessner commented on #15
I agree with @guilhermesimoes - we basically cover most of what the Sandimeter does already.

Additionally this issue has been parked here for quite some time with no action -> closed.

[2016-01-07 13:17] troessner commented on #14
This issue has been parked here for quite some time with no action -> closed.

[2016-01-07 13:17] #14 closed

[2016-01-07 13:23] troessner commented on #81
Closing this one since there is no response from the ticket creator and the evidence suggests (see above) that this is local problem, not a RubyCritic problem.
@JakeTheSnake3p0 just abandoning an issue like this is pretty rude towards the people who tried to help you.

This is closed.

[2016-01-07 13:23] #81 closed

[2016-01-07 13:26] troessner commented on #64
I think that's a pretty cool idea. scm though seems dead and far from ready. Last commit 8 months ago and no proper docs.

[2016-01-07 13:27] troessner commented on #63
Legit questions ;)
We really should document and / or define that.
I'll look into preparing a discussion.

[2016-01-07 13:30] troessner commented on #60
I have zero idea what you're referring to :)
What editor? What does "Code view" mean?

[2016-01-07 13:31] troessner commented on #59
Actually I'd consider this a bug. Re-labeled. Let's fix this.

[2016-01-07 13:31] Onumis commented on #94
Calling `rubycritic` outside the repo:
[code]

Calling rubycritic inside the repo:
[code]

Could this be something introduced with: #88 ?

[2016-01-07 13:33] Onumis commented on #94
It can also just be what @jbodah said, and we've always had this problem when with git repositories and only noticing it now due to the cmd line output...

[2016-01-07 13:34] troessner commented on #50
[We](https://github.com/whitesmith/rubycritic#contributors--core-team) are interested!

[2016-01-07 13:38] #15 closed

[2016-01-07 14:03] Onumis commented on #60
I think he is referring to the report (the html version, most likely).

There are a lot of things to be improved in displaying the reports to improve UX but I don't think that's anywhere near a priority at the moment. Nevertheless contributions are more than welcome!

[2016-01-07 14:05] bglusman commented on #64
Yeah, I came to same conclusion looking at scm and one or two other options IIRC, debt ceiling 0.4.0 was released with the copy pasted scm classes from RC, and some additions mostly to support git-notes, whichI kind of regret (I'd been thinking it was an easy way to memoize analysis on a repo in CI, but I forgot CI tends to clone the repo fresh every time, so Redis or tmp files seem like a better

[2016-01-07 15:20] jbodah commented on #60
Sorry I meant the `code_index` view. It would be convenient to have some sort of filtering of that list (it's a minor nuisance when running rubycritic on our entire legacy app codebase). Just would like to put it here for documentation

[2016-01-07 16:05] JakeTheSnake3p0 commented on #81
I'm sorry you felt offended troessner, your efforts aren't in vain. I'll try and make some time to figure this out - I'm not comfortable just yet with removing RVM and using rbenv or even just for the sake of reinstalling RVM as I require RVM on a daily basis. When I have some breathing room I'll look into this again - but as you mentioned you can't reproduce, and given that the problem seems to b

[2016-01-08 18:20] Onumis commented on #94
I think I've tracked this down to a culprit: [`RevisionComparator`](/whitesmith/rubycritic/blob/master/lib/rubycritic/revision_comparator.rb)

This bug seems to happen only when RubyCritic runs in the "default" mode.
The only difference with the "ci" mode is that the `RevisionComparator` does not run when in "ci" mode.

`RevisionComparator` checks if the analysed code is under a source control sys

[2016-01-08 19:07] Onumis commented on #59
This is currently a feature: [when a file has no methods, returns the name of the file titleized](https://github.com/whitesmith/rubycritic/blob/master/test/lib/rubycritic/analysers/helpers/modules_locator_test.rb#L41)

I don't mind having this changed to include the module name (if it exists) for classes without methods.

The conditions to having the name of the file displayed instead of the "qual

[2016-01-08 19:36] jbodah commented on #94
It would be great if it could cache the initial run regardless if I have a working copy to stash or not. Consider this scenario.

* Working copy is clean, run rubycritic
* Single analyser runs, should cache run unless disabled
* I add code to my working copy, run rubycritic
* Single analyser should run; my cached results from last run (which should be on my HEAD rev) should be used for revision co

[2016-01-08 19:43] jbodah commented on #94
I think I'd prefer a log message saying what it's doing instead. I think running twice is fine as long as I know why

[2016-01-09 12:53] troessner commented on #59
I'd prefer to have the module name always included as well.

[2016-01-09 12:54] troessner commented on #94
I completely agree with @jbodah

[2016-01-09 13:16] troessner opened #97 "Explain our core metrics or link to explanations"
I believe right now we are doing a pretty bad job when it comes to this. For most users quite a few metrics are probably obscure.

Let's change that!

E.g. the turbulence gem has a great explanation of [churn vs complexity](https://github.com/chad/turbulence), lets pack our docs with links like that ;)

[2016-01-09 18:31] Onumis commented on #97
I agree. There's a serious lack of documentation (#63, #77)

Additionally I think we should make RubyCritic proud if itself. By this I mean that there are a lot of code smells that show up if you run RubyCritic on `/lib``. Most of them are easily solvable, like adding descriptive comments to classes. (Maybe this is a separate issue?)

This will in turn make the code more easy to understands for th

[2016-01-09 18:48] troessner commented on #97
Couldnt agree more. Eat your own dogfood. We should make all the we use in RubyCritic part of our own CI process. At least where it makes that they can fail our build. "Reek" would be one, not sure about flay / flog since they have different semantics

[2016-01-11 19:37] JakeTheSnake3p0 commented on #81
I believe I've narrowed it down further. The problem occurs when we have a string key in colon style followed by a symbol value.

[code]

[2016-01-12 18:30] RobertoSchneiders opened #98 "Break on Continuous Integration based on a threshold"
We are migrating our code analisys from code climate (which is awesome) to open source tools and we are using rubycritic (also awesome).

We want to break the build on CI if the quality is bellow a threshold. Unfortunately I can't do this easily with rubycritic. I had to create a pretty crazy shell [script](https://gist.github.com/RobertoSchneiders/f8b319440accf3ad4da5).

I'm wondering if you guys

[2016-01-12 18:50] troessner commented on #98
Yes, I would **love** this functionality.
WDYT about a cli switch like "--minimum-score" based on [our current scoring](https://github.com/whitesmith/rubycritic/pull/35)?

[2016-01-12 19:02] RobertoSchneiders commented on #98
@troessner pretty much what I had in mind. :+1:

[2016-01-12 19:05] RobertoSchneiders commented on #98
Any insights on how we can do this?

[2016-01-12 20:53] troessner commented on #98
[1] Add the cli option to our [options](https://github.com/whitesmith/rubycritic/blob/master/lib/rubycritic/cli/options.rb)
[2] Check the calculated [score](https://github.com/whitesmith/rubycritic/blob/master/lib/rubycritic/core/analysed_modules_collection.rb#L32)
[3] Then change our [generators](https://github.com/whitesmith/rubycritic/blob/master/lib/rubycritic/generators/json/simple.rb)

Imple

[2016-01-13 12:12] RobertoSchneiders commented on #98
Great! Yeah, I will try. I think I have some time on friday.

[2016-01-18 20:52] Onumis commented on #81
Confirmed. I've created a branch with the example file.
Here's the output:

[code]

I don't think this is a problem with RubyCritic itself, but with some of the tools it relies on: `flay` and `flog`.

@troessner any tips on how to proceed from here?

[2016-01-19 12:28] troessner commented on #81
Yes, exactly. ´Reek` parses your [sample file](https://github.com/whitesmith/rubycritic/blob/a8e1a4e351c7ea6344f2fe395d7225bfc0397900/test/samples/quotes_in_symbols.rb) just fine, flay and flog crash on it.
The reason is quite simple: `Reek` relies on the awesome [parser](https://github.com/whitequark/parser)
whereas `flay` and `flog` rely on the [ruby_parser gem](https://github.com/seattlerb/ruby

[2016-01-19 13:49] Onumis commented on #81
At least they are aware: https://github.com/seattlerb/ruby_parser/issues/175

[2016-01-19 14:52] epintos opened #103 "RoadMap"
Hi,

I would like to contribute with some features but it will be nice to see a Roadmap of the new features that you have in mind. Do you have anything similar?

Best

[2016-01-19 19:43] troessner commented on #89
Closing this, since #91 has been merged.

[2016-01-19 19:43] #89 closed

[2016-01-19 19:53] troessner commented on #59
#96 has been merged -> closed!

[2016-01-19 19:53] #59 closed

[2016-01-19 19:59] troessner commented on #103
There is no real roadmap at the moment, at least not one that the current maintainers have discussed and agreed on.
There is the old one from the initial author @guilhermesimoes that you can find [here](https://github.com/whitesmith/rubycritic/wiki/Roadmap) and just by skimming it I'm sure that we want 95% of that one as well ;)

To come back to your wish to contribute: Our [issues](https://github

[2016-01-20 19:36] troessner opened #104 "Explain GPA / score"
We did merge #35 but funny guys that we are we nowhere explain to the user what the hell a "score" means for us.
Let's fix this ;)

[2016-01-22 19:47] troessner commented on #103
@epintos I labeled all issues in question with "documentation", would be great if you could pick some up!
That way you'd also **really** get to know RubyCritic ;)

[2016-01-22 20:30] epintos commented on #103
@troessner Thanks for the response! As soon as I have some free time I will start looking at those issues.

[2016-01-22 20:44] Onumis commented on #104
This is very closely related to #63, we can probably just close this...

[2016-01-22 21:34] Onumis commented on #63
Proposal for this:
https://gist.github.com/Onumis/dfcfd98267041ebdff02

[2016-01-23 16:05] troessner opened #109 "Summary of all RubyCritic features that are lacking documentation."
I'd like to use this issue to summarize all features of RubyCritic that are lacking documentation.
For quite a few of them a paragraph would be enough.

So here we go:

* [Explain our core metrics](https://github.com/whitesmith/rubycritic/issues/97)
* [Explain GPA / score](https://github.com/whitesmith/rubycritic/issues/104)
* [What's the configuration of our analyzers?](https://github.com/whitesm

[2016-01-23 17:04] troessner opened #110 ""Open with browser" problem in our local development environment"
Unfortunately it seems like our recent [open html with browser](https://github.com/whitesmith/rubycritic/pull/100) pull request introduced a problem in our development environment:

On running

locally on my machine Safari opens with the error that you can see attached in the screenshot.

<img width="712" alt="screen shot 2016-01-23 at 17 56 28" src="https://cloud.githubusercontent.com/assets/2711

[2016-01-25 01:51] superiorlu commented on #110
hi, @troessner my safari not have this problem. my mac osx 10.10.5 and safari 8.0.8
i find this [http://comphelp.org/wiki/wiki.php?kw=Safari%20Kcferrordomaincfnetwork%20Error%201#2](http://comphelp.org/wiki/wiki.php?kw=Safari%20Kcferrordomaincfnetwork%20Error%201#2) may be helpful for you.

[2016-01-25 09:01] troessner commented on #110
Sorry, I phrased this poorly. What I was hinting at was that when running our tests **no** browser should open at all. Instead, this functionality should be stubbed out as usual with "kind of" external dependencies.

Actually I'm the one to blame here since I missed this in my review big time ;)

Do you have time to look into this?

[2016-01-25 13:53] Onumis commented on #110
Yeah I also should have payed more attention to this one.
Here's a few other things that bug me:

- the command does not terminate until the browser is closed
- using the flag `--mode-ci` still opens on the browser - this is bad because it may cause problems with users that integrated RubyCritic as part of their CI
- maybe we should have the options to do `--open none` or `--open false` to skip th

[2016-01-25 15:14] RobertoSchneiders commented on #110
Yeah, open the browser on `--mode-ci` will probably break or hang the build.

[2016-01-25 16:09] superiorlu commented on #110
@troessner  okay i take it.
@Onumis  if default run ```rubyciritc```  not open browser, only people run ```rubycritic -O safari``` ，can open report file in browser.  this is meet the requirements?

[2016-01-25 16:29] troessner commented on #110
Good call!

:+1:

We can also leave out the argument to "-O" which then would open up the default browser.

[2016-01-25 17:00] superiorlu commented on #110
@troessner  your mean is: run ```rubycritic -O ``` will open up default browser？

[2016-01-25 19:22] Onumis commented on #110
The thing is, I actually like that it opens the browser automatically on "standalone" (I lack a proper term for this) runs.

What I mean is that, casual users do not want to specify that flag.
Power-users are the ones that should have to deal with the options, and currently, they cannot switch off this feature.

[2016-01-25 19:31] RobertoSchneiders commented on #98
Released on `2.6.0`.

[2016-01-25 19:31] #98 closed

[2016-01-25 20:47] troessner commented on #110
Power-users are the ones that should have to deal with the options, and currently, they cannot switch off this feature.

Good point, agreed.
How about:

* a flag "--no-browser" that switches opening up a browser
* we add this flag to our cucumber feature definitions
* if your specs are affected by the "open with browser" feature we can stub it out there on a low level

WDYT?
*

[2016-01-25 21:24] troessner commented on #110
OR we adjust the "--open" flag to allow for "--no-open" as well in Unix tradition. I think that would be confusing though since the "--open" form would take arguments while the "--no-open" form wouldn't.
So I'd probably rather go with "--no-browser".

[2016-01-25 22:05] Onumis commented on #110
I agree on the "--no-browser" flag, keeping in mind that "--mode-ci" also does not open a browser.

[2016-01-25 22:14] troessner commented on #110
Yeah, I had the "--mode-ci" flag in mind as well at first, but I'd rather prefer not to mix that up since it's also about running our test suite locally.

[2016-01-26 01:28] superiorlu commented on #110
@Onumis @troessner  this is good idea. i will add this flag on a new branch.

[2016-01-27 12:31] Onumis commented on #110
Fixed in #113

[2016-01-27 12:31] #110 closed

[2016-01-28 10:15] eljojo commented on #81
Hi everyone, I just faced the same issue.
setting ``gem 'ruby_parser', '3.7.2'`` in my gemfile fixed the bug.

Now I just have to wait for ``ruby_parser`` to support the save navigation operator :(

[2016-01-28 21:25] troessner commented on #81
Got added 3 days ago:

https://github.com/seattlerb/ruby_parser/commit/da22d1e256305dff2bb549e9f13fcf9f69c43bb2

but no release in sight yet :-/

[2016-01-29 21:37] Onumis commented on #110
Just want to share my frustration:
https://github.com/copiousfreetime/launchy/issues/51#issuecomment-176979526

[2016-02-03 04:58] jbodah opened #116 "Option to run analysers in parallel"
Running the analysers in a large project can take far too long (over an hour on legacy system). I had done some initial investigation into this but was blocked by https://github.com/whitesmith/rubycritic/issues/90. My working spike for this is here https://github.com/jbodah/rubycritic/tree/parallel

[2016-02-03 05:04] jbodah commented on #116
Alternatively it might be easier to instead slice groups of files and run each of those in the full analyser pipeline than it would be to segment each analyser individually and merge the results

[2016-02-03 08:58] troessner commented on #116
One hour?
Would love to see this bad boy ;)

Ack.
Keep in mind though that we will probably make Reek 283% more awesome by reading in the whole source tree with one slurp (right now its file based) .
But thats probably quite some time ahead ;)

[2016-02-03 09:15] troessner commented on #116
Addendum: One of many reasons for this

you can find e.g. [here](https://github.com/troessner/reek/issues/844)

[2016-02-05 06:55] seanhandley opened #117 "Rubycritic throws errors with Ruby 2.3 syntax"
This is due to this commit in the `ruby_parser` library not yet being released: https://github.com/seattlerb/ruby_parser/commit/da22d1e256305dff2bb549e9f13fcf9f69c43bb2

Flay and Flog both depend on an earlier version of `ruby_parser` that doesn't have support.

[code]

[code]

[2016-02-05 12:50] Onumis commented on #117
Thanks, we've had a long discussion about this (https://github.com/whitesmith/rubycritic/issues/81), eventually reaching the same conclusion.

I think ruby_parser still needs a few things to be done in order to ensure ruby 2.3 compatibility...

[2016-02-05 13:32] troessner commented on #117
Yep, no idea when they will release though ... kind of sucks, cause currently RubyCritic is broken on 2.3. :(

[2016-02-05 16:03] #94 closed

[2016-02-10 14:03] troessner commented on #117
I'll leave this issue around even though it's not a RubyCritic problem or a one that we can fix it all.
Probably other people will stumble across this as well.

[2016-02-18 12:03] Purus commented on #95
Looking on this feature for Rake :+1:

[2016-02-19 09:46] nijikon commented on #117
Is this still an issue with the current 2.7.1 release?

[2016-02-19 10:24] troessner commented on #117
Unfortunately yes, since ruby_parser has still not seen a release for this. Meaning flay and flog are still broken in terms of proper ruby 2.3 support :-/

[2016-02-20 10:01] troessner commented on #95
I'll get something going the next couple of days.

[2016-02-20 22:43] troessner commented on #95
PR in review ;)

[2016-02-27 19:19] solars opened #129 "Overall Score?"
Hi there, apologies I did not know where else I should ask so I'll try it here.

I know there is an issue about the explanation of the scores, but I could not find anything about the overall score in the overviews page - how is it calculated or what does it mean?

I want to use rubycritic in our CI, as a counterpart to sonarqube which is what our java guys use, it provides an overall score.
Also p

[2016-02-27 19:53] troessner commented on #129
I still haven't gotten around to document all-the-things unfortunately.

You mean the "A" "B" and so on or the gpa?
The gpa is explained in #35

[2016-02-27 19:55] solars commented on #129
Thanks a lot for the pointer, it's called Score xx/100 in my version, so I was confused by the term GPA.

[2016-02-28 14:02] troessner commented on #117
ruby_parser 3.8 [has been released](https://github.com/seattlerb/ruby_parser/commit/a966b2b7cf62567a34292561b7f00606e590a3bc) with Ruby 2.3. support
Both flay and flog should work now with Ruby 2.3.

Closing this one.

In case you still  have problems with this, try `bundle update ruby_parser` and if this doesn't help, please re-open this issue.

[2016-02-28 14:02] #117 closed

[2016-02-29 10:15] seanhandley commented on #117
Awesome - thanks for the heads up @troessner

[2016-02-29 11:36] #77 closed

[2016-02-29 15:12] #95 closed

[2016-03-06 11:19] penkz commented on #60
What about using something like data tables? It's I guess it's simple enough, and it works great for filtering data in a table on the client side

https://www.datatables.net/

[2016-03-07 14:51] solars commented on #11
is there anything that let's me exclude certain method calls?
e.g. I get a lot of complaints about calls to Rails.logger etc - which should be ignored

[2016-03-07 19:51] troessner commented on #11
No, not at the moment I'm afraid.
This kind of functionality would be great though ;)
What you can do right now is use special configurations for each analyzer that will be respected by RubyCritic as you can see [here](https://github.com/whitesmith/rubycritic#analyzer-configuration)
With Reek you can also generate such a configuration via "reek --todo your_path" which is unfortunately not possible

[2016-03-08 08:35] solars commented on #11
@troessner thanks a lot for the reply! I'll have a look at the config options. --todo doesn't seem to be included in my version of reek/rubycritic and currently parser blocks an update - I'll try to resolve it adapt the config. Thanks a lot!

[2016-03-08 10:32] troessner commented on #11
The [latest version](https://github.com/whitesmith/rubycritic/blob/master/CHANGELOG.md#280--2016-02-29) of RubyCritic bundles Reek 3.11 which includes the --todo flag, so you just need to update RubyCritic and you're good to go ;)

[2016-03-08 10:33] solars commented on #11
@troessner thanks a lot! And keep up the great work :)

[2016-04-04 18:26] ragesoss opened #137 "Link to docs for DuplicateCode and other non-reek smells are broken"
DuplicateCode (a Flay smell) links here: https://github.com/troessner/reek/blob/master/docs/Duplicate-Code.md

It looks like all the smells are hard-coded to link to the Reek docs, even if they come from Flog or Flay: https://github.com/whitesmith/rubycritic/blob/master/lib/rubycritic/core/smell.rb#L50

[2016-04-04 22:32] #137 closed

[2016-05-30 18:21] MyklClason opened #145 "Complexity vs Churn graph: Log scaling option wise?"
I'm trying to determine how useful it would be to add a log scaling option, though not as a default. Seems like it would be helpful in ensuring that the graph isn't quite as clustered or distorted by outliers. The data would need to be adjusted slightly to avoid log(0) issues. I've done this by manually adjusting the highchart and it seems to work fairly well.

[2016-05-30 18:30] troessner commented on #145
I believe this might be very useful indeed, would be great if you could give it a shot ;)

[2016-05-30 22:29] MyklClason commented on #145
I'll give it a shot. I've started working out the design but after a couple hours I ran into a couple issues.

1. Spent a fair bit of time trying to get around simply incrementing each by one to avoid log(0) issues. The best overall solution seems to be to use a linear scale and simulate log scaling by manipuating the data set and output formatting. So plot them as `Math.log10(x+1)` but display th

[2016-06-17 19:48] Onumis commented on #63
Added a wiki page with the proposed docs.

[2016-06-17 19:48] #63 closed

[2016-06-17 19:49] Onumis commented on #104
Added a wiki page with the proposed docs.
(https://github.com/whitesmith/rubycritic/wiki/Rating-and-Score)

[2016-06-17 19:49] #104 closed

[2016-06-17 19:53] troessner commented on #63
Not the biggest fan of the github wiki - what do you think about integrating this into our README?

[2016-06-17 20:47] Onumis commented on #63
Well, I was thinking of dropping a mention there (and possibly move some sections into wiki pages).
I'm not a big fan of huge a README :P

[2016-06-17 21:53] Onumis commented on #97
Expanded on wiki to include these: https://github.com/whitesmith/rubycritic/wiki/Core-Metrics,-Score-and-Rating

[2016-06-17 21:53] #97 closed

[2016-06-17 21:55] nunosilva800 opened #146 "Missing status label (old/new)"
![RubyCritic smells index screenshot](http://i.imgur.com/PvkFEe3.png)

Latest version is not generating these "labels" on the rightmost columns.
Not sure when we lost this.

[2016-06-18 06:23] troessner commented on #63
I can see your reservations, I have the similar feelings towards big README.
But take a look at the [Reek README](https://github.com/troessner/reek) for instance. We really took a lot of effort to make this as readable and maintainable as possible, meaning:

* there's a table of content at the top
* we touch **every** topic in the README but don't discuss it exhaustively
* instead we then link to

[2016-06-18 16:47] Onumis commented on #63
I do agree that having them under /docs is a plus, but I don't really agree with your other points.
Personally I feel like the wiki is the _de-facto_ official documentation, but I can understand how others might not feel that way (I too have seen many outdated wikis).

Having the documentation under version control will allow anyone to see the actual documentation for a specific version, and that'

[2016-06-18 16:48] Onumis opened #147 "Move documentation into /docs to be under version control"
Context: https://github.com/whitesmith/rubycritic/issues/63#issuecomment-226925001

[2016-06-18 19:47] troessner commented on #147
👍

[2016-06-27 06:15] Strnadj opened #150 "When specify more directories - mess in git repository"
We have multiple libraries in our project (rails engines), if we specified them for **rubycritic**

`rubycritic components/ui/app components/ui/lib components/core/app`

it works well, but it creates for each file in `components/**/.rb `directory html report file with same name + html and it is a big problem. We are able to gitignore tmp directory, but we can't ignore all html files...

I try to s

[2016-06-27 11:16] Onumis commented on #150
Hmm, this deserves some investigation indeed. Thanks for the info.

[2016-06-27 11:23] Strnadj commented on #150
We have appx 10 components in `components/*/`... because we don't want to check specs + dummy applications the result is sth like:

`rubycritic components/ui/app components/ui/lib components/ui/lib components/core/app components/ext_services/app components/ext_services/lib -p tmp/rubycritic`

If you want more info, please tell me what exactly do you need ... ;-)

[2016-06-30 03:47] rasaffieTP opened #151 "Update rubocop to 0.41.1"
It would be great to have access to the [new features](https://github.com/bbatsov/rubocop/releases/tag/v0.41.0).

| Ruby       | 2.3.1   |
| RubyCritic | 2.9.1   |

[2016-06-30 07:24] troessner commented on #151
How about a PR? Should be a walk in the park ;)

[2016-06-30 15:00] rasaffieTP commented on #151
:ok_hand: I will do it as soon as I can.

[2016-07-01 12:21] nijikon commented on #151
#152

[2016-07-01 15:21] nijikon commented on #151
@troessner This can be closed now, as we released 2.9.2.

[2016-07-01 15:31] #151 closed

[2016-07-01 15:31] troessner commented on #151
Good point, thanks @nijikon :)

[2016-07-09 16:53] Aqualon opened #154 "Rubycritic does not handle inline classes very well"
Hi, I ran rubycritic on one of my projects and got the following complaint about a class:

[code]

The problem is, that `ApplicationController::InvalidSid` is just a error class defined via

[code]

So all the offenses are actually from `ApplicationController itself`.

Reporting this here, since I don't know if this is something caused by rubycritic itself or which is misreported by one of the gem

[2016-07-09 21:21] troessner commented on #154
Acknowledged. That's a pretty bad bug.

Reproducibly via:

[code]

and:

[code]

This will report everything on Foo::Wtf.

We probably should fix that I assume nested classes occur in almost every bigger code base 😆

[2016-07-09 23:50] Aqualon commented on #154
Interestingly it reports always the first nested class inside `Foo`. If I add another class before `Wtf` this one gets reported.

[2016-07-17 06:36] Strnadj commented on #150
I figure it out. Unfortunattely my informations were incorrect, I am calling rubycritich with absolute paths:

`rubycritic /Users/strnadj/Projects/test/components/ui/app /Users/strnadj/Projects/test/components/ui/lib /Users/strnadj/Projects/test/components/ui/lib /Users/strnadj/Projects/test/components/core/app /Users/strnadj/Projects/test/components/ext_services/app components/ext_services/lib -p

[2016-07-17 11:45] Onumis commented on #150
@Strnadj  thanks for the info!
I'll have a better look at this in the following days but my initial though is that RubyCritic should "behave well" even if it is fed an absolute path. I'll keep this open.

[2016-07-17 12:00] troessner commented on #150
Fully agree, RC should always behave well or at least warn the user.

[2016-08-22 09:59] thedrow opened #161 "CI mode does not run only on the diff from master"
I don't really understand what rubycritic does when CI mode is on but it doesn't simply run on the files that have changed since the branching from master.
Is there a way to make rubycritic do so?

[2016-08-22 11:07] thedrow commented on #161
[code]
does the trick on CircleCI. Maybe we should document this somehow?

[2016-08-22 11:13] Onumis commented on #161
The CI mode runs only against the last commit. Doing it against the full diff of a branch is indeed very helpful.
Gonna add this as a task.
Thanks for the CircleCI snippet, ideally, RubyCritic should handle that.

[2016-08-22 11:31] thedrow commented on #161
I don't understand the difference between the CI mode and normal mode?
Are you able to visualize code quality over time?

[2016-08-25 10:59] hvenables opened #162 "Progress bar added in 2.4.0 added to json output"
We were using 2.3.0, after upgrading ruby critic to the latest version it seems the progress bar output is printed to SDTOUT which is where the output of `--format json` is printed. Also the score is printed after the json however i am not sure if that is connected to the progress bar added in version 2.4.0. We are calling rubycritic from another process which means that the json in the SDTOUT is

[2016-08-25 11:16] Onumis commented on #162
Thanks, this is definitely a problem...

[2016-09-20 10:11] trusche commented on #56
I am seeing this issue again with the latest release (2.9.4). A custom `reek.config` in the rails root is simply ignored (valid config is not applied, invalid config doesn't throw errors). Downgrading to 2.9.3 fixes it.

[2016-09-20 11:16] troessner commented on #56
Hmmm, that's pretty weird. The only difference between 2.9.3 and 2.9.4 is this

fbd2363 - Update Reek, flog, flay and update to latest rubocop requirements. (4 days ago)

So apparently just the Reek upgrade caused this and in this upgrade we changed from 4.1 to 4.4.1.
AFAIR we didn't touch anything related to configuration loading from 4.1 to 4.4.1 but apparently a bug snuck in :(

[2016-10-07 16:27] jgrau opened #166 "Reek configuration not being picked up"
With a fresh `gem install` of `rubycritic` and a run with `rubycritic --no-browser --minimum-score 85 --path critique app lib config script test` in my rails project I get a score of 89.72.

Running `reek --todo` which correctly generates a `.todo.reek` file with a lot of ignores, I would expect the subsequent run of `rubycritic` would give me a higher score. However, I get the exact same score. C

[2016-10-19 14:28] guilhermesimoes commented on #145
Just leaving this here: http://www.highcharts.com/docs/chart-concepts/axes

Adding `type: 'logarithmic'` to an axis should have some effect.

[2016-10-20 06:44] Aquil-Serene opened #173 "UI/UX improvements for the current system"
Hi all,

I have been working on this for a while to give a nice, good looking facelift to **rubycritic**. Came to know about this from my colleagues and understood the workflows. Then I came with this solution. Please review it and feel free to give your valuable feedbacks.

Thanks,
Akhil.

![rc-home](https://cloud.githubusercontent.com/assets/22951879/19548847/80d82436-96be-11e6-92b9-667c683d7d50

[2016-10-20 10:09] troessner commented on #173
Oh, wow, I love it!
How about creating a pull request so we can discuss the changes you made in detail?

[2016-10-20 11:26] Aquil-Serene commented on #173
Hi @troessner ,

It's just a design inspiration which I proposed. If we brainstorm on the images which I uploaded and finalizing the flow, we will get it developed and update.

[2016-10-20 17:09] Onumis commented on #173
This is awesome! Thanks for all the effort!

[2016-10-20 17:14] troessner commented on #173
I think its safe to say that we are all in favour :)

Lets get a pull reqest going!

[2016-10-20 22:39] guilhermesimoes commented on #173
Oh, wow.

[2016-10-21 11:15] Aquil-Serene commented on #173
I am having some shortage of resources and it will take some time if i wait to get someone to do this for me... If anyone is interested to help me with converting PSD to HTML, am happy to share the files... Please let me know if anyone out there...

[2016-10-21 11:31] vijayanandnandam commented on #173
Hi All,
We are working on this issue
PSD to html conversion is underway. will revert back with a pr in couple of weeks.

[2016-10-23 01:16] MyklClason commented on #145
@guilhermesimoes: Thanks. I'll have to revisit this a bit, as it's been a few months and I've learned a fair bit more since then. Still probably needs a bit of work to deal with values of zero.

[2016-10-30 05:11] mereghost commented on #166
It seems that the instantiate a `Reek::Examiner` without any options. That loads a default configuration using `Reek::Configuration::AppConfiguration.default` but that does not trigger the config file loading.

Reek's CLI passes to the examiner the result of `Reek::Configuration::AppConfiguration.from_path(config_file)` for the config file handling.

[2016-10-31 09:14] troessner commented on #166
Yeah, that's most certainly a bug. Pull requests welcome!

[2016-10-31 13:56] mereghost commented on #166
Any contribution guidelines that I must be aware of before sending you folks a PR?

[2016-10-31 14:15] troessner commented on #166
Check out [Contributing](https://github.com/whitesmith/rubycritic/blob/master/CONTRIBUTING.md)

[2016-11-01 11:55] Onumis opened #177 "Update README with info about supported source control systems"
Currently it's stated that it only supports GIT, but we also support Mercurial and soon Perforce (#165)

[2016-11-03 14:54] #177 closed

[2016-11-03 20:51] olleolleolle commented on #109
#180 minimally adds "console report" option by mentioning it in Usage. And "Open with browser".

[2016-11-03 22:14] Onumis commented on #109
Awesome, thanks @olleolleolle!

[2016-11-04 08:34] olleolleolle commented on #109
In order for someone to move forward on the _Minimum Score_ feature docs, here is the Cucumber Feature for it: https://github.com/whitesmith/rubycritic/blob/master/features/command_line_interface/minimum_score.feature

That file can be mined for wording etc.

[2016-11-04 21:24] olleolleolle commented on #109
In order to keep within the limits of a not-too-large README, the longer story of "The whole way we deal with the git history to gather metrics" could become its own article in `docs/`.

I'm thinking of a title like:

[2016-11-05 09:31] olleolleolle commented on #109
#181 Added some explanatory detail about `--minimum-score`.

[2016-11-07 19:55] olleolleolle commented on #147
[Roadmap](https://github.com/whitesmith/rubycritic/wiki/Roadmap) is the only wiki page not yet in the docs/ folder.

Would you like it to be imported into the repository, in some form?

[2016-11-07 20:14] Onumis commented on #147
Can't see any reason not to! :)

[2016-11-07 20:16] olleolleolle commented on #147
@Onumis Let me prepare you a PR real quick. Idea: next to the `README.md` as `ROADMAP.md`.

[2016-11-07 20:29] #147 closed

[2016-11-09 07:17] vijayanandnandam commented on #173
Hi All,
We are done with psd to html conversion and started working on integrating the new ui into rubycritic

[2016-11-09 12:44] Onumis commented on #173
Awesome! I'm anxious to see that :smile:

[2016-11-14 13:24] tejasbubane commented on #173
**Update:** We are very much done with the integration with minor JS/CSS fixes left. Expect PR in a day or two.

[2016-11-18 06:01] tejasbubane commented on #173
PR: #184

[2016-11-23 17:38] #173 closed

[2016-11-24 06:41] tejasbubane opened #187 "Code navigation links not working with the new UI"
![screen shot 2016-11-24 at 12 10 27 pm](https://cloud.githubusercontent.com/assets/980783/20588959/1b635ca0-b23f-11e6-956e-363178777ee9.png)

Locations links in above image do not work.

[2016-11-24 06:44] rohitcy commented on #187
I am working on this.

[2016-11-25 13:21] Onumis commented on #103
We now maintain the roadmap in the repo: https://github.com/whitesmith/rubycritic/blob/master/ROADMAP.md

[2016-11-25 13:21] #103 closed

[2016-11-25 13:22] Onumis commented on #129
I guess this has been answered already.
Updated metrics explanation: https://github.com/whitesmith/rubycritic/blob/master/docs/core-metrics.md

[2016-11-25 13:22] #129 closed

[2016-11-25 13:29] Rataah opened #188 "Error occurs when no source control is used"
Hi,

I tried the new version on one of my project with no source control enabled and an error occurs:

[code]

The error is raised in the following method of AnalysisSummary class:
[code]

Where the value of "**element.churn**" is the string "**N/A"**
The "**N/A**" value seems to come from the Double class in SourceControlSystem.
Precisely:
[code]

Ruby version:
[code]
Rubycritic version:
[code]

[2016-11-25 14:05] Onumis commented on #188
Thanks for the bug report!

[2016-11-25 14:53] Onumis opened #189 "Drop usage of system call to "wc" in favour of Ruby's File"
As indicated by @guilhermesimoes https://github.com/whitesmith/rubycritic/pull/184#discussion_r89622028

[2016-11-26 18:00] nav16 commented on #30
I am working on this, using yml (`rubycritic.yml`) file.

[2016-11-29 18:22] #189 closed

[2016-12-01 13:17] #187 closed

[2016-12-01 13:55] #60 closed

[2016-12-05 15:06] tejasbubane commented on #162
How should we handle this?
1. remove progressbar from `json` format (and also `console`?)
2. give option `--no-progress` (like `--no-browser`)
3. ask users to not use console output directly but to use `tmp/rubycritic/report.json` instead

I think option `2` would be better than the other two.

[2016-12-05 18:34] Onumis commented on #162
I think `option 1` is a reasonable default, and `option 2` is a nice thing to have.

[2016-12-10 20:21] anlek commented on #188
I've hit the same bug. Any known workarounds?

Thanks

[2016-12-11 10:14] thedrow commented on #162
I think this is solved since I am seeing that option 2 has been implemented.

[2016-12-11 10:19] thedrow opened #202 "Allow using multiple formatters"
I want to use the JSON report to generate a separate PR status for RubyCritic and I want to generate the HTML as well.
Right now if I specify `--format` twice only the last one is being picked up.

[2016-12-15 18:20] icmonroe commented on #188
Hit the same issue. Anyone have a solution?

[2016-12-15 19:33] troessner commented on #188
Replacing 'n/a' with 0 might work. No idea if this breaks something else :)
Pull requests welcome!

[2016-12-15 20:42] troessner commented on #188
Ah, and a fix is up already :)

[2016-12-16 16:54] #188 closed

[2016-12-19 15:14] thedrow opened #206 "ArgumentError: Unknown color name with the console reporter"
[code]

Can we fix this ASAP? It's failing my CI.

[2016-12-19 15:16] thedrow commented on #206
Seems like `light_red` is gone from the valid colors list. Any idea what to do?

[2016-12-19 15:56] Onumis commented on #206
I think `orange` is a good replacement for `light_red` :)

[2016-12-19 16:04] #206 closed

[2016-12-19 16:16] Onumis opened #209 "Test cover Generator::Text::List"
So that issues like these: https://github.com/whitesmith/rubycritic/issues/206, that are easily noticed with tests, don't happen.

@thedrow care to take this one? :)

[2016-12-19 16:16] Onumis commented on #206
@thedrow published!

[2016-12-19 16:47] thedrow commented on #206
@Onumis You forgot to tag :)

[2016-12-27 10:12] Rataah opened #210 "HTML report broken when "--suppress-ratings" is used"
Hi,

When the option **suppress-ratings** is used, the generated HTML report is broken on _code_ tab

![image](https://cloud.githubusercontent.com/assets/4300009/21497401/e5c29d4a-cc24-11e6-9467-6e51ff64e66c.png)

ruby version
[code]

rubycritic version
[code]

[2016-12-29 15:42] danmarcab commented on #154
First of all thanks for this awesome project 👍

We are having the same problem, so I started to take a look to this issue.

The problem is on https://github.com/whitesmith/rubycritic/blob/master/lib/rubycritic/analysers/attributes.rb#L17

Here we get the first module name as the name of the module.

The question is how to decide which name to pick? The fact that rubycritic analyses and report base

[2017-01-19 19:46] kyledecot opened #211 "String can't be coerced into Fixnum (TypeError)"
When running `rubycritic -ms 70 --no-browser` for my application I am receiving the following:

[code]

I am using version `3.1.0`

[2017-01-19 21:22] kyledecot commented on #211
Closing. Duplicate of #188

[2017-01-19 21:22] #211 closed

[2017-02-09 10:26] scooler commented on #145
I'm not sure how much it's worth putting here, and how much in a new issue, but I was thinking if the churn could be somehow "scaled locally".
Because overall churn is useful - as how much work happens in a file/how much work is needed there (bugs).

However IMO if the churn is either weighed, or even limited with an option perhaps - you can see what's problematic/being worked on recently.

I gues

[2017-02-09 11:06] scooler opened #212 "Animation over time"
It's kind of a question if it's even possible, but I was thinking that with an awesome presentation as it is now, would it be possible to animate it over time ?

I'm not 100% sure how would be the best way to do it, but I was thinking that:
- over a range of let's say 1000 commits
- jump every 100 commits
- gather the stats (perhaps churn could be optimized - running from the oldest to the newest

[2017-02-14 02:46] binkley opened #213 "Rake task is in module `Rubycritic` but rest of code is `RubyCritic` (case-sensitiive)"
I noticed the rake task is in the module `Rubycritic` but the documentation and the rest of the code says `RubyCritic`.  Can this be easily changed so the rake task module uses the same case as the documentation and rest of code?

[2017-02-14 02:47] binkley opened #214 "Rake task should fail if minimum score is too low"
I would like the rake task to fail if the minimum score is too low.  Is this hard to do?

[2017-02-17 14:56] westlakem commented on #30
@nav16 Any updates on this?  I have a project right now where we patch a gem and it is very picky about how we patch it.  This file is the only thing that's not an 'A' and is keeping me from doing a `-s 100` on our ci build

[2017-02-21 15:15] mgrecar opened #216 "Code smells take up line numbers"
Ruby Version: MRI 2.2.1p85
RubyCritic Version: 3.1.3

Code smells take up line numbers when viewing a Ruby file from the Code tab, like so:
![screen shot 2017-02-21 at 10 05 48 am](https://cloud.githubusercontent.com/assets/526181/23170739/54976cf8-f81e-11e6-9190-e2579854a407.png)

With files of any significant length, and more than a handful of smells, the line numbers quickly become far removed

[2017-02-24 20:15] jdickey opened #218 "Update for Ruby 2.4 compatibility."
### Minor Gem update in `rubycritic.gemspec`

The obvious change that needs making is in the Gemspec; change

[code]

to

[code]

No other changes to the Gemspec should be required.

### Test Output

The identical results are presented whether bundling and running `rake` under Ruby 2.3.3 or 2.4.0; output from 2.3.3 is shown here.

[code]

----

Inspecting those files shows that they have the pragm

[2017-02-25 20:44] olleolleolle commented on #213
I searched the repository for the `Rubycritic` term, and found only #157 - which is quite old.

What version of the tool are you using to experience the above?

[2017-03-10 16:56] #218 closed

[2017-03-10 17:02] Onumis opened #221 "Ruby 2.5.0dev is out - update travis to specifically test agains 2.4"
Context: https://github.com/whitesmith/rubycritic/pull/219#issuecomment-283403287

[2017-03-10 17:54] Onumis opened #224 "Make docs look good on rubydoc.info/"
Following up on https://github.com/whitesmith/rubycritic/pull/220#issuecomment-285737857

I'd be awesome to have this looking good on: http://www.rubydoc.info/github/whitesmith/rubycritic

Additionally, we're using the `/images` dir for two things:

1. images used in docs
2. images used in the generated HTML

We should split these, moving the docs images into `/docs/images`

[2017-03-10 18:24] Onumis commented on #214
We only need to use this: http://ruby-doc.org/core-2.2.0/Kernel.html#method-i-exit
:smile:

[2017-03-12 10:33] olleolleolle opened #226 "JRuby test failure: smelly.rb step with method_missing and define_method"
The Cucumber-defined `smelly.rb` file, which features a `method_missing` that calls `define_method` - this could be why the tests fail on JRuby

### Background

- [The line in the Cucumber feature which fails](https://github.com/whitesmith/rubycritic/blob/fd6162d9f95820ab2f183f296909cbd17d86ee22/features/command_line_interface/minimum_score.feature#L8)
- ...and [the file-creating Step for that fea

[2017-03-12 10:58] olleolleolle commented on #226
@tejasbubane Can we up the `exit_timeout`?

[2017-03-13 12:39] #224 closed

[2017-03-17 14:13] #221 closed

[2017-03-17 17:28] Onumis opened #227 "RubyCritic::RakeTask problem with bundler+rails+heroku"
When deploying a Rails app on Heroku that:

- uses the rubycritic rake task
- Gemfile declares rubycritic gem in the `development` / `test` groups

we get:

[code]

This happens because of:

[code]

I managed to work with

[code]

Not sure what to do here.
I do think that this gem does not make sense to be used in a production environment, so I'd like to place it in dev/test groups. I'd also expec

[2017-03-27 21:06] AzizHarrington opened #230 "Highcharts turboThreshold not configurable"
The current value (1500) is too small for a large monolith, and prevents complexity/churn scatterplot from rendering. This should be configurable or set to a very large number.

[2017-05-12 18:02] georgedrummond commented on #216
I'm seeing this too. I will try and write up a fix for it this weekend.

[2017-05-13 16:09] #216 closed

[2017-05-20 20:03] joneshf commented on #166
I see there was a PR for this bug (https://github.com/whitesmith/rubycritic/pull/175), but it seems to still be a problem:

[code]

|            | Version |
|------------|---------|
| Ruby       | 2.3.3   |
| RubyCritic | 3.2.2   |
| Reek       | 4.6.2   |

Any thoughts on what's going wrong and how to fix it?

[2017-05-24 04:54] jainankita90 commented on #18
I am getting same error in docker env. I tried setting LANG variable in shell but no it does not fix the issue

rubycritic (3.2.2)
Rails 5.0.3
ruby 2.3.3p222
reek 4.6.2

[2017-05-31 21:50] Onumis commented on #230
Fixed by disabling the `turboThreshold`.

[2017-05-31 21:50] #230 closed

[2017-06-15 12:45] jagadishwer opened #244 "With Docker rubycritic not working"
running reek smells
............................................................................../usr/local/bundle/gems/parser-2.4.0.0/lib/parser/source/buffer.rb:164:in `source=': invalid byte sequence in US-ASCII (EncodingError)
	from /usr/local/bundle/gems/reek-4.7.1/lib/reek/source/source_code.rb:99:in `parse'
	from /usr/local/bundle/gems/reek-4.7.1/lib/reek/source/source_code.rb:33:in `initi

[2017-06-16 19:16] Onumis commented on #244
Hi @jagadishwer, looks like a problem with reek itself.

Are you able to run only `reek` on your project or file, and report it on its repository: https://github.com/troessner/reek/issues?

[2017-07-26 17:23] TreyE opened #245 "Feature Request: Consume SimpleCov and Use Results to Weigh Metrics"
It would be great if I could somehow also import simplecov results into rubycritic - and then as a result use those coverage values to help 'weigh' my metrics.  Basically I want lack of test coverage to act as something that magnifies how 'bad' I consider the code to be.

A simple case would be:

1. Prior to the application of the coverage metric, both classes A and B receive a the same rubycritic

[2017-07-28 19:06] Onumis commented on #245
@TreyE alright so the flow would be:

- run your test suite(s) with codecov
- run rubycritic passing in the codecov `.resultset.json`
    - for each examined file, look up the code coverage results for that file
    - assign a score based on it, which will affect the final rating

Although I don't think we should mix code quality with test coverage, perhaps this is useful for somebody.
Want to get

[2017-08-10 20:45] grantneufeld commented on #30
It would be nice if the rubycritic config was basically just an extended version of the Reek config — so we could copy our current Reek configuration into it, and add other configuration options for the other tools (flog, flay, etc.) and for rubycritic itself.

Or maybe provide a rubycritic config directory that can contain config files specific to each tool (e.g., `.rubycritic/.reek`).

In partic

[2017-08-18 13:43] bbugh opened #246 "rubycritic command fails when a directory name ends in .rb"
I'm working on a project that has a **directory** named `compose_assets.rb`. When flog runs, it raises an error because it's trying to read it as a file. I'm guessing that rubycritic is supplying the list of files, but if not this might be a flog issue instead. I don't own the project so I can't change the directory.

[code]

[2017-09-06 11:13] guilhermesimoes commented on #246
Great bug report.
This was actually a bug in `path_expander`, a dependency of Flog.
I've opened a PR in the Flog repository to bump the gem dependency.
In the meantime, you can fix this by running the following commands:

[code]

If you added RubyCritic to your Gemfile, change the version of `path_expander`in your Gemfile.lock from `1.0.0` to `1.0.2`.

[2017-09-06 11:13] #246 closed

[2017-09-14 15:49] gonzaloaune commented on #245
👍

[2017-09-20 20:00] vzamanillo commented on #146
I think is related to #115, with that changes the serialized dump will never exists, so there is nothing to compare.

[2017-10-06 20:39] nunosilva800 opened #250 "Solve Rubocop warnings"
Go through `.rubocop_todo.yml` and fix those issues :)

Just remove a line, run `rubocop` and you should see the warning/error.

[2017-10-06 20:42] Onumis opened #251 "Prepare for ruby 2.5"
[Our CI](https://travis-ci.org/whitesmith/rubycritic) is already complaining at some stuff that will break our build on ruby 2.5:

[code]

[2017-10-07 07:08] zhikiri commented on #250
@Onumis I'll check it out

[2017-10-13 16:53] ericboehs commented on #250
I'll run the auto correct for `SpecialGlobalVars`.

[2017-10-14 11:23] zhikiri commented on #250
@ericboehs you can do everything, I'm really busy now

[2017-10-30 19:32] joshsaintjacque commented on #245
@TreyE Is this something you're working on? If not, I'd love to make a PR.

[2017-11-27 14:02] Rataah opened #257 "Impossible to install Rubycritic on Windows for restricted users"
Hi,
I have to use Windows with a restricted user account.
Install Rubycritic is impossible due to a symbolic link in the sample directory of the gem.

[code]

Ruby version:
[code]

rubycritic version:
3.3.0

[2017-12-25 16:30] olleolleolle opened #258 "Timezone-dependent test-case: Perforce"
There's a Perforce-related test which checks some dates: Perforce::Perforce::retrieve informations#test_0002_retrieves the date of the last commit of the ruby files

My environment's timezone is set to GMT+2.

The test fails like this:

[code]

[2017-12-26 10:35] #258 closed

[2018-02-05 08:11] yami0101 opened #260 "Parsing of class fails if class name is defined based on condition."
RubyCritic 3.3.0
Ruby 2.3.1

When running rubycritic on such a module, it fails with with the following exception 'Reek::Errors::IncomprehensibleSourceError'.

[code]
 It seems that the ternary operator in the class name definition is causing this. Because if we change the code to:

[code]

there is no exception.

The exception happens on examiner.rb:107:in `rescue in run':         !!! (Reek::Erro

[2018-03-06 07:19] olegantonyan opened #263 "Installation error: ruby_parser's executable "ruby_parse""
[code]

ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-linux]

[2018-03-18 16:47] SuperSandro2000 opened #265 "Opening critique with wrong path"
Rubycritic trys to open the overview.html file with this path after the analysis: ``file://C/canopy/tmp/rubycritic/overview.html`` but the drive letter is missing the trailing ``:`` and in my case chrome can't find the file.
It also adds another slash after ``file:``  but I don't know if adding it would break file opening on other systems.

[2018-04-10 09:03] cveneziani commented on #11
Well, nowadays, I just run it on `app` and `lib` folders.

[2018-04-10 11:57] Onumis commented on #11
I still think there's a the need for this feature since rubycritic should not rely on rake / rails to work flawlessly. The tools rubycritic uses already support similar flags...

[2018-04-10 12:04] deepredsky commented on #11
i have also gotten used to running it just in `app` and `lib` folders. I think it would be nice to have flags which then maps to the corresponding flag to the underlying tools.

[2018-04-11 20:55] #161 closed

[2018-04-12 05:32] SuperSandro2000 commented on #257
To fix that it would be necessary to skip that test on Windows or use an link file. Don't think both solutions are ideal.

[2018-04-18 19:02] TreyE commented on #245
Nope, nothing I've been working on - just something I hope somebody picks up.

[2018-05-17 21:45] Onumis commented on #250
@tibbon if you are using latest rubocop, then we need to update the `AllCops/Include` setting in `.rubocop.yml` file

See https://github.com/bbatsov/rubocop/issues/4247#issuecomment-389364734

[2018-06-14 07:37] MarcGrimme commented on #202
+1 on this

[2018-06-19 13:57] dinatih commented on #166
Any update, please ? I got the same problem with this config
[code]

[2018-06-27 19:29] leobenkel commented on #257
any news about that ?

[2018-06-28 13:38] IMhide commented on #244
I have the same error on docker but in a different spot :

[code]

[2018-07-04 16:30] msdundar opened #269 "Upgrade to Reek 5"
Reek 5 is out and they published an upgrade document about the new version:

https://github.com/troessner/reek/blob/master/docs/Reek-4-to-Reek-5-migration.md

Do you plan to upgrade your gemspec?

Thanks.

[2018-07-12 10:15] ronyv89 opened #270 "Not loading reek configuration file"
I create a .reek.yml configuration file in my Rails application root directory. But rubycritic is not picking up this file for loading configuration

[2018-08-16 12:27] dbwest commented on #257
bump. this is a big problem for all our testers...

[2018-08-23 08:43] luizkowalski commented on #270
I have the same issue. I created a config file as follow

[code]

but I still get lots of `InstanceVariableAssumption` warnings, for example
I'm using RubyCritic 3.4.0 on a MacOS with Ruby 2.5.1

[2018-08-23 19:53] makpark commented on #257
Download the gem to the machine and From an elevated or Administrator Cmd window, navigate to the download path and try gem install "filename"

[2018-08-23 21:04] KurtRMueller commented on #270
Reek recently upgraded from version 4 to version 5 and, as such, changed the api for its configuration file. You can read about it here: https://github.com/troessner/reek/blob/master/docs/Reek-4-to-Reek-5-migration.md

Hopefully rubycritic updates it's reek dependency soon.

[2018-08-31 19:36] Onumis commented on #270
We'll need to do a major release of rubycritic to avoid backward incompatibilities.
The newest version should also drop some old ruby versions...

[2018-08-31 19:57] Onumis commented on #257
Will attempt something like this: https://github.com/DatabaseCleaner/database_cleaner/issues/506

[2018-09-03 20:40] #257 closed

[2018-09-03 20:56] Onumis commented on #257
Here it is: https://rubygems.org/gems/rubycritic/versions/3.5.0
thanks everyone :v:

[2018-09-12 20:23] rlgreen91 opened #277 "Exit code 1 due to uncommitted changes"
I'm running Rubycritic as part of a series of rake tasks within CodeClimate.  Ironically enough, I have a PR upgrading Rubycritic to the latest version.  However, CI keeps failing with the following error:

[code]

Has anyone seen this error before?  I'm trying to figure out where this is coming from, since all tracked files in the branch have been committed and running rubycritic locally complete

[2018-09-13 10:27] Onumis commented on #277
Hmm, must have been introduced here: https://github.com/whitesmith/rubycritic/pull/271
:thinking:

[2018-09-13 11:17] Onumis commented on #277
Reviewing the method `uncommitted_changes?`:

[code]

I think we need to drop the `git ls-files` part, since it seems it will output folders like `tmp`, which are not tracked but might exist after running rubycritic, or simply loading a rails app.

`git status --porcelain` might be enough to tell if there are uncommitted changes, or even a `git diff-index HEAD --`

Will read on this and see what i

[2018-09-19 19:46] rlgreen91 commented on #277
I wanted to come back around and explain what exactly the issue was for us.  So, we encountered this issue running Rubycritic on CircleCI.  The thing about CircleCI and other CI services is that we don't have any of the gems installed - it has to do that.  As part of that build script, we would create a `/vendor` directory that CircleCI would install the gems in.  Rubycritic would then complain ab

[2018-09-19 19:58] Onumis commented on #277
Thanks for the info! Anyway, the fix I proposed is still a better way of detecting such things.

[2018-09-27 16:36] #277 closed

[2018-10-19 05:36] dwahyudi opened #283 "Issue with Encoding::CompatibilityError"
|            | Version |
|------------|---------|
| Ruby       | 2.3.0   |
| RubyCritic | 3.5.2   |

So I run rubycritic inside bitbucket pipelines, and this error happens.

Pipeline script:

[code]

Error:

[code]

I have no idea which code of mine causes this error.

[2018-11-15 15:45] tejasbubane commented on #251
This can be closed.

[2018-11-15 17:33] #251 closed

[2019-01-14 11:44] dsager opened #287 "Report directory structure when comparing branches seems off"
When running rubycritic in CI mode, the report-folder seems to be weirdly nested.

After executing the following command (while on a branch called `test-123`):
[code]
I get the following directory structure:
[code]
I would expect the structure to be this:
[code]

Actually, when generating a HTML report, the links in the top right corner also seem to expect this structure.

|            | Version |

[2019-03-06 15:41] nunosilva800 opened #296 "Error parsing "&.""
[code]

sample code:
[code]

rubycritic 4.0.0
ruby 2.5.3

[2019-03-06 15:41] #269 closed

[2019-03-06 15:42] #270 closed

[2019-03-06 15:59] Onumis opened #297 "File "tmp/rubycritic/overview.html" not being generated on v4"
rubycritic v4.0.0 does not seem to generate the main overview.html report file.
ruby 2.5.3

[2019-03-06 15:59] Onumis commented on #296
same happens on rubycritic 3.5.2

[2019-03-19 21:47] #210 closed

[2019-03-19 21:47] #297 closed

[2019-03-21 20:20] cvoltz opened #303 "Ignores .rubycritic.yml file"
I tried testing with the example `.rubycritic.yml` configuration file:
[code]
Changes in the configuration file (e.g., `no_browser`, `path`, and `paths`), don't affect the settings rubycritic actually uses when it runs. It appears to always use the default settings (i.e., as if the `.rubycritic.yml` wasn't present) unless command line arguments are specified (then the CLI setting is used). When ru

[2019-03-21 20:24] cvoltz opened #304 "--suppress-ratings breaks HTML output"
Running rubycritic with the `--suppress-ratings` option results in a misaligned report for the code:

![Screenshot from 2019-03-21 15-21-08](https://user-images.githubusercontent.com/549284/54782615-506a8000-4bed-11e9-8766-4134c9061b69.png)

[2019-03-23 08:52] jbampton commented on #304
I think #302  fixed this.

[2019-04-11 07:49] abhitrivedi opened #307 "undefined method `cost' for nil:NilClass (NoMethodError)"
Hi

Im getting an error while comparing with a branch (using `-b` option) or running in CI mode (using `-m` option). Backtrace attached below.

|            | Version |
|------------|---------|
| Ruby       | 2.5.5   |
| RubyCritic | 4.0.2   |
[code]

[2019-05-03 14:41] cvoltz commented on #304
Confirmed that #302 did fix the problem with the `Name` showing up in the `Churn` column but the alignment for the `Churn` column is wrong. That column is now `text-align: left` instead of `text-align: right` like it is in the case where `--suppress-ratings` is not specified.

#### Without the ratings suppressed
![Without the ratings suppressed](https://user-images.githubusercontent.com/549284/571

[2019-05-03 15:37] cvoltz commented on #244
With the current master branch, I can run rubycritic in Docker and it runs without generating errors but it doesn't process the files:
[code]
Using the same `Dockerfile`, if I just change the `Gemfile` from:
[code]
to
[code]
rubycritic will generate output:
[code]

I found that I can get it to work again if I use 10985559cbe255e4840b5d5d982178d1ca827ddf (i.e., by reverting #306). I did that by cha

[2019-05-03 16:17] cvoltz opened #308 "Ignores Ruby files without a .rb extension"
Rubycritic won't analyze files which don't have the `.rb` suffix even if the file has a shebang line like:
[code]
which indicates it it is a Ruby file. This is true even if the file is explicitly specified either as a trailing argument on the CLI:
[code]
or by using the `paths` argument in the Rake task:
[code]

The problem seems to be that the code checks to see if the file has the '.rb' extensio

[2019-05-22 20:45] philCryoport commented on #270
Please re-open -- files `.reek.yml` and `config.reek` are both seemingly being ignored

Those two files both have the contents:
[code]
...because Reek is freaking out about `<%- generate "pundit:policy", singular_name -%>` in the first line of that controller.rb file

* ruby 2.5.3 on WSL - installed with `rbenv`
* Brand new install of rubycritic (`gem install rubycritic` put in rubycritic 4.0.2)
*

[2019-05-22 22:42] philCryoport commented on #11
Note my comment here where the .reek.yml -- which includes an exclude-this-file statement -- is being ignored by rubycritic: https://github.com/whitesmith/rubycritic/issues/270#issuecomment-494965772

[2019-05-22 22:44] philCryoport commented on #166
Rubycritic is still ignoring the .reek.yml file with:
* Ruby 2.5.3
* RubyCritic 4.0.2
* Reek 5.3.2

See my note here: https://github.com/whitesmith/rubycritic/issues/270#issuecomment-494965772

[2019-05-27 12:31] #209 closed

[2019-07-06 10:13] tit opened #313 "How disable storage HTML report files in project?"
Hi, I have some project files:

[code]

I run `rubycritic`:

[code]

`rubycritic` created `/tmp` directory with `/tmp/rubycritic/overview.html` and other files.
It is ok.

But `rubycritic` created also `.html` files in project directory:

[code]

How I can disable storage `.html` report files in project directory?
I want `rubycritic` to save its files only in `/tmp`.

[2019-07-16 14:12] AlexisKAndersen opened #314 "HTML to view JSON"
I'm trying to set up the "poor man's code climate" but given the way our system works and our repo is set up, sending around 9000 html files is prohibitively expensive. But this gave me an idea. If there were html set up to read a json file and fill in data from that, we could use the json formatter and send that file around. And in general, this seems like a more efficient approach than generatin

[2019-07-16 15:59] Onumis commented on #314
Not entirely sure if JS and browsers allow to load arbitrary JSON files from the disk, but it does seem like a good thing!

[2019-08-02 10:11] Adre commented on #307
I've had the same error in a similar situation using **RubyCritic 4.1.0** on **Ruby 2.6.3**.

I'm running the `rubycritic` command in the CLI with no arguments, but have the following `.rubycritic.yml` config:

[code]

The command analyses to code, but then fails around the point where it would generate the third html file:

[code]

In my case, switching config to `no_browser: true` allowed the pr

[2019-08-02 10:42] Adre commented on #303
I think this is just a simple typo in your config caused by a typo in the example config from the README. I had some issues until I updated the `threshold_score` key.

I've submitted a pull request to address this: #315

[2019-08-02 19:37] cvoltz commented on #303
It would be nice if RubyCritic would give an error message if the configuration file was incorrect, rather than just silently ignoring mistakes.

Fixing or removing the line doesn't get RubyCritic to use the other settings so the problem is more then just a single key being wrong.

I looked into the issue some more and it looks like `format` should be `formats` as well: https://github.com/whitesmi

[2019-09-09 07:04] xero88 opened #317 "Rubycritic for python"
Hi,

First, thank you for you nice lib, I'm using it for all my ruby projects.

My question is : do you know something equivalent to Python ?

[2019-09-30 23:58] lflucasferreira opened #318 "Backticks are breaking Rubycritic"
Version: 4.1.0

I have a method as follows:
def start
    `#{executable}`
end

The "executable" is a method that instantiates a class in order to get the executable file path. For some reason, rubycritic is not working. I tested with another method using a different command and it processed as supposed to. Very strange.

When I run Rubycritic it fails and throws this error:

running flay smells

r

[2019-10-01 00:03] lflucasferreira commented on #318
You can reproduce that using the following:

def test
    'Test'
  end

  def bug
    `#{test}`
  end

[2019-10-10 17:27] etagwerker commented on #245
@Onumis @TreyE @joshsaintjacque I really like this idea. I like it so much that I submitted a PR for it: #319

I'd really like to know your feedback about those changes.

Coverage and quality data are not mixed nor combined. Coverage data now shows up in a new section.

There is no need to pass in the coverage folder or `.resultset.json`, the changes I propose use SimpleCov's configuration to find

[2019-10-13 13:23] Onumis commented on #317
Hi @xero88. I'm not really into the python ecosystem, but I'm sure there are similar tools. :)

[2019-10-13 13:23] #317 closed

[2019-10-13 13:25] Onumis commented on #318
What happens if you run `flog` alone on that file?
The stacktrace seems to tell that it is an issue in Flog (a dependency of Rubycritic.

[2019-10-16 19:34] lflucasferreira commented on #62
Hi guys, I am facing this problem for two weeks. I don't know how to disable Flay because it is bothering me about **DuplicateCode** that I don't want to consider. I mean, I will ignore these files. Does anyone have a solution for this case?

[2019-10-16 19:44] lflucasferreira opened #321 "Flay | How to disable it or exclude some files from its analysis?"
Hi,

The Flay is pointing a DuplicateCode Smell in two files. I would like to ignore these files and increase the code score, but there is no documentation about how to disable/exclude this smell.

Could you please help me? I'm lost.

[2019-10-21 20:29] lflucasferreira commented on #318
I have the same output.
I decided to use another way:

[2019-10-21 20:58] Onumis commented on #318
It does seem like an issue within `flog` itself. Mind opening an issue there? https://github.com/seattlerb/flog

[2019-10-21 20:58] #318 closed

[2019-10-21 21:05] #304 closed

[2019-10-23 23:22] etagwerker opened #323 "Deprecation warnings related to Minitest 6"
Hi there,

It seems that there are a bunch of deprecation warnings related to Minitest 6:

[code]

In order to get ready for Minitest 6, we should start using the new syntax.

This might be a good issue for first-time contributors. I'm going to add the label "Hacktoberfest" 😄

Addressing this deprecation warnings will definitely help find real issues in the test output.

[2019-10-23 23:23] etagwerker commented on #323
@Onumis It seems that I can't add labels to the issue. If you think it's a good idea, maybe you can do it?

[2019-10-24 12:21] Onumis commented on #323
There you go! 🎉

[2019-10-28 18:12] etagwerker opened #324 "RubyCritic v4.2.0: Color coding of files in Coverage section is off"
Hey all,

I noticed that my implementation of SimpleCov for RubyCritic has a minor flaw. Color coding is not working as one would expect.

In this scenario, files with D and F code coverage grades should show up with a different color:

<img width="1260" alt="Screen Shot 2019-10-28 at 2 08 19 PM" src="https://user-images.githubusercontent.com/17584/67705186-e852f800-f98c-11e9-9702-d851ff4f810d.png

[2019-10-29 11:41] #324 closed

[2019-10-29 12:07] Onumis commented on #324
Thanks, released in v4.2.1

[2019-10-30 02:19] jsantos commented on #323
I've had to fix this on a project recently, happy to apply the same strategy here :)

[2019-10-30 14:03] #323 closed

[2019-11-05 15:29] etagwerker commented on #245
In case you are interested in this feature, I recently release [`skunk`](https://github.com/fastruby/skunk) which uses `rubycritic` and `simplecov` to calculate **one metric** called the "StinkScore"

I wrote a blog post about this: https://www.fastruby.io/blog/code-quality/intruducing-skunk-stink-score-calculator.html 😃

[2019-11-12 08:32] #245 closed

[2019-12-08 04:01] etagwerker opened #332 "AnalysedModule#coverage_rating raising TypeError: nil can't be coerced into Integer"
Hi there,

I'm using `rubycritic` v4.2.2 and I get an error when running a comparison like `rubycritic -b master`:

[code]

I think there is a problem with the `coverage` attribute and its default value (it should be zero)

I can submit a PR that should fix this problem.

Thanks,
Ernesto

[2019-12-12 08:46] #332 closed

[2019-12-27 08:42] shir opened #338 "After update to 4.3.0 got error 'undefined method `blank?' for "":String'"
[code]

I guess issue is that `blank?` method is defined by Ruby on Rails.

[2019-12-30 08:21] clive-devops commented on #338
Can confirm, all our builds broke due to this, we've had to hard-exclude 4.3.0, for now, in our Gemfiles until this is fixed.

[2019-12-30 10:11] nunosilva800 commented on #338
Gonna publish the fix soon.

[2020-01-13 11:22] KaitakuShiba commented on #244
I also used Docker and encountered an `invalid byte sequence in US-ASCII (ArgumentError) error`.Add ENV for Dockerfile and work for me.

[code]

reference:
https://github.com/ffaker/ffaker/issues/277

[2020-01-14 15:37] GeoffTidey commented on #287
I can confirm (one year on) that I'm seeing the same issue as @dsager

We're using ruby 2.7 & rubycritic 4.3.1 &

`rubycritic app -p $CIRCLE_ARTIFACTS/rubycritic --mode-ci -f html --no-browser `

An example of an actual file on disk is:
`/tmp/circleci-artifacts/rubycritic/compare/master/compare/staging/overview.html`

whilst the link in the top right corner is pointing at:

`/tmp/circleci-artifact

[2020-01-17 18:20] portwood opened #340 "reek fails"
Recently, reek (3.11) fails with a traceback:

[code]

However, the current release version of reek (5.5.0) seems to work properly. Unfortunately, Rubycritic isn't configured to work with the current version.

Rubycritic and reek give no indication as to the nature of the issue.

Rails 6.0.1.2
Ruby 2.6.5
RubyCritic 2.8.0

[2020-01-21 17:09] lloydwatkin opened #341 "Upgrade to `reek` 5.6.0"
I wasn't able to use `rubycritic` after upgrading my `mysql2` gem (to handle BigDecimal deprecation warnings on ruby 2.6.5). This was due to `reek` requiring `parser<2.7`. `reek` has today updated their parser requirements to fix this issue, see: https://github.com/troessner/reek/blob/master/CHANGELOG.md#560-2020-01-20

[2020-01-21 17:13] lloydwatkin commented on #341
[code]

[2020-01-22 09:11] nunosilva800 commented on #341
I think we can just relax the version constraint on `parser`.

Can you do a PR to change:
`spec.add_runtime_dependency 'parser', '~> 2.6.0'`
to
`spec.add_runtime_dependency 'parser', '>= 2.6.0'`
here: https://github.com/whitesmith/rubycritic/blob/master/rubycritic.gemspec#L36

Thanks 😄

[2020-01-22 11:03] #341 closed

[2020-01-27 19:38] #338 closed

[2020-01-28 20:06] n-rodriguez opened #344 "Dependency conflict with simplecov"
Hi there!

It seems there's a dependency conflict with `simplecov` gem :

[code]
Thank you!

[2020-01-28 20:14] etagwerker commented on #344
@n-rodriguez Thanks for reporting this!

I think we might need to relax the dependency on `simplecov`:

https://github.com/whitesmith/rubycritic/blob/master/rubycritic.gemspec#L40

Maybe we need to change that line to be:

[code]

[2020-01-28 20:19] etagwerker commented on #344
@n-rodriguez You might want to try https://github.com/whitesmith/rubycritic/tree/fix-deprecations which relaxes the dependency declaration for `simplecov`

[2020-01-28 20:41] n-rodriguez commented on #344
I've tested with https://github.com/fastruby/rubycritic/tree/fixes/relax-simplecov-dep and it works :+1:

[2020-01-28 20:41] n-rodriguez commented on #344
https://github.com/whitesmith/rubycritic/tree/fix-deprecations :

[2020-01-29 16:15] an0n1mpulse commented on #227
This is not just happening when deploying to Heroku as I am experiencing the same issue when trying to deploy using capistrano. The rake task from the gem seems to not be loaded at the time when it is invoked in other environments apart from development and test.

I assume this has not yet been dealt with as it is not the main way of running rubycritic, the CLI way is according to the documentatio

[2020-01-30 11:49] lloydwatkin opened #346 "Shell error with rake task"
[code]

[2020-01-31 15:08] etagwerker commented on #344
@n-rodriguez Could you check with the new release and close this issue if this is solved? 😄

[2020-01-31 17:50] n-rodriguez commented on #344
@etagwerker it works! thank you!

[2020-01-31 17:50] #344 closed

[2020-02-06 18:31] etagwerker commented on #346
@lloydwatkin Weird. What version of `rubycritic` are you using?

[2020-02-06 18:59] lloydwatkin commented on #346
Latest 2.4.3

[2020-02-12 10:37] Yinfei commented on #321
Hello 👋

I tried introducing a `.flayignore` file but it seems that it's ignore by rubycritic itself. 🤔

Is there any way that rubycritic could take this into account?

[2020-02-12 10:42] mvz commented on #321
@Yinfei sorry, I'm not very familiar with how rubycritic works. I only work on the Reek project.

[2020-02-12 16:12] etagwerker commented on #346
@lloydwatkin Could you share your `Gemfile.lock` and `.rubycritic.yml`? I can't reproduce this issue without more information.

[2020-02-12 16:31] lloydwatkin commented on #346
[code]

[2020-02-12 17:54] etagwerker commented on #340
@portwood have you tried upgrading `reek` and `rubycritic`? Both versions in this issue are quite old.

[2020-02-12 18:34] lflucasferreira commented on #321
Could you please tell me how to configure the `.flyignore?` file? TYIA.

[2020-02-13 08:06] mvz commented on #321
I also don't know anything about Flay, which is a separate project.

[2020-02-15 15:29] #321 closed

[2020-02-15 15:32] nunosilva800 commented on #340
This looks like an issue on `reek`. Try ugpgrading the gems as suggested, and if you cannot, please provide an example of a file that causes this error.

[2020-02-15 15:32] #340 closed

[2020-02-20 17:50] #37 closed

[2020-02-23 16:37] jose-quinones commented on #270
Hey @philCryoport is Rubycritic still not picking up your .reek.yml? I just added a .reek.yml to my project and it is working.
ruby version: 2.6.3
My Gemfile.lock:
[code]

My .reek.yml:
[code]

[2020-02-23 16:37] jose-quinones commented on #166
Hey @philCryoport is Rubycritic still not picking up your .reek.yml? I just added a .reek.yml to my project and it is working.
ruby version: 2.6.3
My Gemfile.lock:
[code]
My .reek.yml:
[code]

[2020-02-23 16:40] jo-quin commented on #166
Hey @philCryoport is Rubycritic still not picking up your .reek.yml? I just added a .reek.yml to my project and it is working.
ruby version: 2.6.3
My Gemfile.lock:
[code]
My .reek.yml:
[code]

[2020-02-25 03:15] chrishough commented on #346
**UPDATE**

I tested this a number of ways, and it is only occurring on my github actions CI setup when I include the `--mode-ci` flag.

It does not occur with this setup below.
[code]

[2020-04-28 17:21] etagwerker opened #359 "Add support for SimpleCov v0.18.x"
Hi there,

@fionaDL recently discovered that relying on `coverage/.resultset.json` for coverage data might not be working as expected if your project is using SimpleCov v0.18.x. The structure for that file recently changed: It's different between v0.17.x and v0.18.x

There is a discussion about the best path forward over here: https://github.com/colszowka/simplecov/issues/887#issuecomment-62073837

[2020-06-24 01:58] rizalmuthi opened #364 "wrong number of arguments (given 2, expected 1) (ArgumentError)"
When I run the rubycritics from my terminal passing the folder that I want to check,I got that exception
[code]

More information:
I did install it directly
[code]

My ruby version
[code]

The gem version
[code]

[2020-06-24 08:38] rizalmuthi commented on #364
The offending code is here: https://github.com/whitesmith/rubycritic/blob/master/lib/rubycritic/source_control_systems/git/churn.rb#L59

I reckon its because of the splat (*) to a method, it destruct the array to multiple arguments instead of 1

[2020-06-25 07:38] nunosilva800 commented on #364
I'm having a hard time trying to replicate this.
From what I can see it's because of your git history. Would you mind pasting the output of the command here?
https://github.com/whitesmith/rubycritic/blob/master/lib/rubycritic/source_control_systems/git/churn.rb#L44

[code]

[2020-06-25 12:42] rizalmuthi commented on #364
This is the output
[code]

[2020-06-25 13:15] nunosilva800 commented on #364
Odd, that looks ok.
Let's dig deeper shall we? 😄

Can you run this in IRB, under that repository?

[code]

This should output the lines in your `git log` that  are not expected by the code.
That could give us a hint at what is happening.

Btw, which `git` version are you using?

[2020-06-25 23:42] rizalmuthi commented on #364
[code]

This is what I got after execute the last part
[code]

its strange.
So I opened up the gem and print out the **line** and the **rest**
[code]
The last **rest** returns 2 variable inside the array

[2020-06-26 14:33] nunosilva800 commented on #364
So the `C051` is the term not being handled by the `case operation` statement.
No idea what that means.. maybe a mix of `R`ename and `M`odified.

If that is the case (and it looks like it because of the two file names), then updating the `when` clause to :
[code]

Would fix this. Wanna summit a fix please? 😄

[2020-06-28 23:13] rizalmuthi commented on #364
@nunosilva800 sure, I can submit a fix. I will do that 👍

[2020-06-29 01:47] rizalmuthi commented on #364
@nunosilva800 Submitted a PR: https://github.com/whitesmith/rubycritic/pull/365
Cheers

[2020-06-29 08:22] nunosilva800 commented on #364
Published! https://rubygems.org/gems/rubycritic/versions/4.5.1

🙏

[2020-06-29 08:22] #364 closed

[2020-07-27 11:33] jd-erreape commented on #346
Hi! I'm having exactly the same issue trying to run the ci mode en a gitlab CI runner.

I've realised (it seems) that when the error appears, the switch from master to the current branch to compare doesn't occur, this can also be seen in the first comment of this issue (the log line saying 'Switched to branch ...' is not there).

Note that I'm not even using bundler or the project Gemfile to run r

[2020-08-01 05:20] teekenl opened #368 "RubyCritic Pipeline"
Was rubycritic supported to be included into Gitlab Pipeline, says, if i want to include this code quality metric tool whenver someone push new changes into a PR?

[2020-08-03 13:09] nunosilva800 commented on #368
It should support that flow, very much like it supports jenkins (see the (docs)[https://github.com/whitesmith/rubycritic/tree/master/docs]) and circleCI (see this (demo)[https://github.com/nunosilva800/rubycritic-ci-demo/blob/master/.circleci/config.yml]).

It would be great to have docs/guides on the steps to set these up in Gitlab Pipeline and/or GH actions 😉

[2020-08-17 19:28] Mziserman opened #369 "Simple cov from hash returns an array"
Hey,

I think this commit https://github.com/simplecov-ruby/simplecov/commit/9ed35debcd6e5b4a22e99a655c9b40be0d7da142# broke https://github.com/whitesmith/rubycritic/blob/master/lib/rubycritic/analysers/coverage.rb#L44 as it expects a SimpleCov::Result instead of an array.

[2020-08-17 20:30] etagwerker commented on #369
@Mziserman Thanks for reporting this! It is a known issue that the most recent version of SimpleCov is not compatible with the integration we have implemented in `rubycritic` -- See: https://github.com/whitesmith/rubycritic/issues/359

Are you getting an error right now? If that is the case, we might need to add a check to make sure it doesn't break when someone is running `rubycritic` with a more

[2020-08-18 07:26] Mziserman commented on #369
@etagwerker thanks for answering !

I am getting an error :
[code]

I however didn't manage to get the error starting from a blank rails app with rspec

[2020-08-18 19:36] valterfernandesdev commented on #369
Same problem here.
![image](https://user-images.githubusercontent.com/22217090/90557494-f0c12d00-e170-11ea-8579-6350bfa187e1.png)

[2020-09-25 19:11] danilobarion1986 commented on #244
This solved for me too! Can we close this issue?

[2020-09-26 16:01] #244 closed

[2020-10-03 12:16] lauratpa commented on #307
I investigated this issue and it seems that the error occurs when there the "feature" branch contains a file that is not present in the "base" branch.

[Here](https://github.com/whitesmith/rubycritic/blob/master/lib/rubycritic/commands/compare.rb#L58) in the `Command::Compare#analyze_modified_files` the files are pulled from the "feature" branch with  `Config.feature_branch_collection.where(Source

[2020-10-06 03:02] etagwerker commented on #369
This was fixed by #370. Thanks @Mziserman!

[2020-10-06 03:02] #369 closed

[2020-10-06 03:03] etagwerker commented on #359
This issue was fixed by https://github.com/whitesmith/rubycritic/pull/370 😄

[2020-10-06 03:03] #359 closed

[2020-11-13 09:19] #250 closed

[2020-12-08 14:38] jellythomas opened #375 "[ASK] DuplicateCode problem"
Hello guys, i've a question how the DuplicateCode works, i've this line of code thats read as DuplicateCode:

job_positions_controller.rb
job_position = JobPosition.new

job_levels_controller.rb
job_level = JobLevel.new

i dont really get on how the rubycritic scan the duplicatecode, can anyone give me a hint? tq in advance

[2020-12-08 14:44] etagwerker commented on #375
@jellythomas Could you please provide more details? RubyCritic uses a few tools so this is probably coming from Reek?

[2020-12-08 14:48] etagwerker commented on #368
@teekenl I'm not familiar with the Gitlab Pipeline, but you could easily set up a GitHub action like this: https://github.com/fastruby/skunk/blob/main/.github/workflows/skunk.yml

In that example I'm using `skunk` which is very similar to `rubycritic`

The main steps would be:

1. Install rubycritic
2. Run rubycritic

Bonus points: You can easily detect whether you are running `rubycritic` in the

[2020-12-08 14:48] #368 closed

[2020-12-08 14:51] jellythomas commented on #375
my bad this is the result of the rubycritic that i run

<img width="416" alt="Screen Shot 2020-12-08 at 21 49 25" src="https://user-images.githubusercontent.com/43949871/101499089-6f9bd900-399f-11eb-92ba-70f61d307ca4.png">

<img width="341" alt="Screen Shot 2020-12-08 at 21 49 33" src="https://user-images.githubusercontent.com/43949871/101499103-73c7f680-399f-11eb-8aa5-4fc32dcf4e3f.png">

[2020-12-08 14:53] etagwerker commented on #308
@cvoltz Thanks for reporting this! I like your solution, I think we need to improve the way we detect whether it is a file with Ruby code or not.

In terms of implementing a patch, I would recommend we go with a solution like this:

1. First check for the extension. If the extension is .rb then it is a Ruby file -- This already works
2. Then check for the first line in the file, if it has the ruby

[2020-12-08 15:17] etagwerker commented on #375
@jellythomas This sounds like a question for `flay` -- I'm not sure about its implementation.

You could ignore that file entirely with a `.flayignore` file, but that might be a little too much for this: https://github.com/seattlerb/flay#featuresproblems-

Personally I wouldn't worry too much about this issue and I would ignore it, trying to focus on other more important issues. But that is only m

[2020-12-08 15:19] jellythomas commented on #375
hoo okay got it, tq for your response, i'll try to ask on flay side, @etagwerker

[2020-12-08 15:19] #375 closed

[2020-12-12 15:18] bkuhlmann opened #376 "Add XDG configuration"
## Overview

I would like to propose using the the [XDG](https://www.alchemists.io/projects/xdg) specification for managing this gem's configuration which is a UNIX standard. Example:

[code]

This can be easily solved by using the [XDG](https://www.alchemists.io/projects/xdg) gem as a dependency to this project. Even better, you can use the [Runcom](https://www.alchemists.io/projects/runcom) gem

[2021-01-15 20:45] denny commented on #287
And another year on, this confused me briefly last week 🙂

[2021-01-15 22:00] etagwerker commented on #287
@dsager I think it makes sense to restructure the directories the way you would expect them. If you submit a PR I'd be happy to review it.

Not sure why it says that, comparing two branches will always take longer than running just one analysis. Maybe it should be corrected in the documentation?

I think that is a good idea. 👍

[2021-01-16 03:42] denny opened #377 "Comparison mode runs twice when in default branch"
If you set a branch for comparisons, then run rubycritic while that branch is checked out, it runs against the same branch twice - which seems like wasted effort, unless I'm missing something.

I've added this as a separate issue from #287 because it's not about the file layout, but I'm tag-linking them in case somebody wants to tackle both at once 🙂

[2021-01-18 09:28] dsager commented on #287
Hi @etagwerker , we no longer use RubyCritic. I am afraid I lost the context for this issue over time and have to retract my offer of making a PR to fix this :laughing:

Maybe I'm not thinking this through entirely, but I think running an analysis of just the affected files should work and be faster?

[2021-01-26 08:49] nunosilva800 opened #381 "Update references to 'master' in codebase"
Example:

https://github.com/whitesmith/rubycritic/blob/d673a2c75e4fb1d7f6776b77c63401a4aedf0112/lib/rubycritic/cli/options/file.rb#L41

The new default should be `main`.

[2021-01-26 15:45] 96RadhikaJadhav commented on #381
@nunosilva800  Can I work on the issue?

[2021-01-26 18:18] nunosilva800 commented on #381
Of course, be my guest! 😄

[2021-01-27 13:21] 96RadhikaJadhav commented on #381
@nunosilva800 All the instances of master should be changed to main? There are around 37 instances of it in 14 files. Or else you can specify the files where it needs to be changed.

[2021-01-28 08:44] nunosilva800 commented on #381
It's not a find all and replace kind of thing I'm afraid.

The ones I know that should changes are:
- mentions to the `master` branch in documentation
- the default value for the flag `-b` / `--branch`

anything else can probably remain as `master`, but feel free to propose a change in a PR where it can be analysed and discussed properly :)

[2021-01-28 15:23] etagwerker commented on #381
I wonder if there is a "smarter way" to find the base branch for the project that is using rubycritic.

I see that we are using `master` in these files:

- https://github.com/whitesmith/rubycritic/blob/d673a2c75e4fb1d7f6776b77c63401a4aedf0112/lib/rubycritic/cli/options/argv.rb#L79-L84
- https://github.com/whitesmith/rubycritic/blob/d673a2c75e4fb1d7f6776b77c63401a4aedf0112/lib/rubycritic/cli/option

[2021-01-28 15:32] nunosilva800 commented on #381
Yes, it would be a major one. Possibly even the release that removes support for older ruby versions and adds ruby3.

[2021-01-28 15:53] etagwerker commented on #381
@nunosilva800 Good point. Now that you mentioned that, I got things started over here: https://github.com/whitesmith/rubycritic/pull/385 👍

[2021-02-04 14:31] GWillmann commented on #313
A temporary workaround is to provide relative path to rubycritic instead of absolute ones.

See: https://github.com/whitesmith/rubycritic/issues/150#issuecomment-233167848

[2021-02-26 16:32] denny commented on #287
@GeoffTidey If you have the time and you're still interested, could you check whether my PR merged above has fixed this for you? Thanks 🙂

[2021-02-26 16:48] denny opened #387 "Suggestion: `git stash` before comparing branches? (To allow compare before commit)"
Hi; I'm not sure if this is possible or not, but I think Overcommit does something along these lines; when you run it, it git stashes any uncommitted code first, so that it only runs your commit/push hooks against the relevant code.

Could rubycritic do something similar to allow checking uncommitted code against another branch? Currently you have to commit first (as far as I'm aware).

I think th

[2021-02-26 16:49] denny commented on #387
I'm even less sure of myself on this point, but; might this also enable comparing your uncommitted code against your committed code in the same branch?

[2021-02-26 16:56] denny commented on #387
... I guess this could get Very Weird if people are committing their `tmp/rubycritic` directory 😜

Would it be possible to detect if that is the case and retain/trigger the 'fail at first step' behaviour for those people?

[2021-02-26 19:22] etagwerker commented on #387
@denny This is an interesting idea. I tend to prefer things to work according to the [principle of least astonishment](https://wiki.c2.com/?PrincipleOfLeastAstonishment)

Right now I think it is pretty clear, RubyCritic fails loudly if you have uncommitted changes.

As a maintainer I find that very annoying when I'm trying to hack a patch to a bug (because I have to commit multiple times which is

[2021-02-26 21:31] denny commented on #387
Yeah, the churn/cost thing is one of the reasons I'm not keen on the current behaviour; I have to commit more often than I might want to, if I want to check on the quality of the changes I've made so far, which artificially increases my churn.

I don't understand the philosophical difference between the flow you've laid out and the one I laid out, other than incrementing the cost score for purpose

[2021-02-26 21:35] denny commented on #387
(Tangentially related; I committed a bunch of changes directly to main on a work project a few weeks ago because rubycritic died on the first half of the compare run, and I stupidly didn't realise that had left me in main rather than where I had started. I only realised when I was trying to work out why the first commit had disappeared.) 🤦🏼

[2021-02-26 22:05] etagwerker commented on #387
I'm still pretty new as a maintainer to the project, but I don't think that makes a big difference.

I think there is an issue with your proposed workflow:

[code]

If I'm not mistaken here, I think after `git stash pop` RubyCritic's 2nd run will fail complaining that you have uncommitted changes.

I think that will give the most accurate information. After all, RC should consider "uncommitted cha

[2021-02-26 22:16] denny commented on #387
That sound perfect!

[2021-03-02 19:26] OfficeYAportatil opened #388 "Rubycritic not running!"
I've been wearing your fantastic gem for a long time. But I am getting the following errors in a new app I am writing:

`	31: from /home/addicttux/.rvm/gems/ruby-2.7.2/bin/ruby_executable_hooks:22:in `<main>'
	30: from /home/addicttux/.rvm/gems/ruby-2.7.2/bin/ruby_executable_hooks:22:in `eval'
	29: from /home/addicttux/.rvm/gems/ruby-2.7.2/bin/rubycritic:23:in `<main>'
	28: from /home/addicttux/.r

[2021-03-02 19:59] etagwerker commented on #388
@OfficeYAportatil It seems that you have cut off the error message. Could you please include it in your description?

[2021-03-04 18:15] etagwerker commented on #388
Closing as I can't reproduce with more info. Feel free to reopen later.

[2021-03-04 18:15] #388 closed

[2021-03-04 23:47] OfficeYAportatil commented on #388
Hi I see that I didn't copy the first line of the error, it is:

`	 1: from /home/addicttux/.rvm/gems/ruby-2.7.2/gems/reek-1.3.6/lib/reek/source/sexp_node.rb:38:in `each'
`

[2021-03-04 23:57] OfficeYAportatil commented on #388
@etagwerker , it seems that the error is produced by reek. I just run it in my command line, and I get the same errors about `sexp_node (sexp_processor)`

Thanks for your attention and time

[2021-03-05 15:49] etagwerker commented on #388
@OfficeYAportatil it seems that you are using quite an old version of reek? You might want to bump that dependency as 6.0.x is the current version: https://rubygems.org/gems/reek/versions

[2021-03-10 08:37] jasonlor opened #389 "`proc': tried to create Proc object without a block (ArgumentError)"
Hi there,

I'm encountering an issue with running rubycritic. I'm using ruby 3.0.0 and am seeing this error during the

[code]

I tried out #385 but am still seeing this issue with it.

[2021-03-10 09:15] nunosilva800 commented on #389
Thanks, this is useful in preparing a release compatible with ruby 3

[2021-03-12 05:23] jasonlor commented on #389
@etagwerker issue looks like it has been resolved on your latest commit!

[2021-03-14 09:28] NerdyBoyCool commented on #308
@etagwerker
If no one else is working on this yet, can I work on it?
I plan to work on this issue using rubocop's FileFinder module as a reference.

[2021-03-14 11:59] etagwerker commented on #308
@NerdyBoyCool  as far as I know nobody is actively working on this issue so I'd say go for it. 👍

[2021-03-14 14:30] NerdyBoyCool commented on #308
@etagwerker
Thank you!!! I'll do it! 😆

[2021-03-17 16:21] typhoon2099 commented on #283
I'm hitting this issue too, 2 and a half years later. I shouldn't have any US-ASCII in my code, but I definitely have code which concerns itself with encoding conversions. I've already had to comment out an RSpec test which deliberately sets up invalid characters in a UTF-8 string as it was killing rubycritic.

[2021-03-17 16:59] typhoon2099 commented on #283
Well, it seems that having a copyright symbol (©) at the top of any Ruby files will cause `rubycritic` to crap out, along with some other characters about the place, which I can't be bothered to track down. Looks like we won't be able to use this for the time being.

[2021-03-18 09:30] typhoon2099 opened #390 "SimpleCov coverage_dir in non-standard location"
I have a project which uses a number of reporting tools, which we've subdirectoried under coverage. As such we've moved the SimpleCov results to `coverage/rspec`. Can rubycritic be configured to look there for the `.resultset.json` and `.resultset.json.lock` files?

[2021-03-18 11:09] typhoon2099 commented on #18
I'm getting the same issue in a docker image, setting `-e LANG=en_US.UTF-8` doesn't work. Using Ruby 2.5

[2021-03-18 16:46] etagwerker commented on #390
@typhoon2099 Yes, I believe it _should work_ as long as `SimpleCov.coverage_path` resolves to the right directory:

https://github.com/whitesmith/rubycritic/blob/main/lib/rubycritic/analysers/coverage.rb#L50-L52

When you run RubyCritic, do you see any data in the coverage section?

[2021-03-18 16:51] typhoon2099 commented on #390
No, I don't. The coverage directory is set in a Rails initializer, it's not something that's global as far as I'm aware, or at  the very least rubycritic is running it out of context. Is this something I can resolve by setting it up as a rake task?

[2021-03-18 18:01] etagwerker commented on #390
@typhoon2099 Not sure what is the best way to do this, but you could try adding a one-liner to your `Rakefile` to make sure that the coverage_path is set before running the RubyCritic rake task: https://github.com/whitesmith/rubycritic#rake-task

[2021-03-19 12:24] typhoon2099 commented on #390
There's a simpler solution! https://github.com/simplecov-ruby/simplecov#using-simplecov-for-centralized-config

I've moved the config out of the Rails initializer and into `.simplecov` and the coverage gets picked up fine.

[2021-03-19 12:24] #390 closed

[2021-03-19 12:48] typhoon2099 commented on #390
I know I've closed this but it does appear that `.resultset.json` is getting overwritten when `rubycritic` is run. I'm guessing that since it's loaded in then it starts checking the coverage of `rubycritic` itself...

[2021-03-19 13:11] etagwerker commented on #390
@typhoon2099 hm.. That's very weird, could you please create another issue for that? As far as I can remember, we are not writing anything to `.resultset.json`, we are only reading what is there to calculate coverage metrics. Thanks!

[2021-03-19 13:25] typhoon2099 opened #391 "SimpleCov files seem to be overwritten when running rubycritic"
I have been playing around with rubycritic and one thing I noticed is that a second run seems to lose the coverage reporting. I've had a look at .`.resultset.json` and it appears to be being rewritten during the first run on `rubycritic`, which reports some sort of coverage, but not the coverage from RSpec.

This is in Rails project, and SImpleCov reports to a non-standard location, so I've moved

[2021-03-19 13:26] typhoon2099 commented on #390
I've raised #391 to discuss it.

[2021-03-27 20:32] denny commented on #391
I have kind of an opposite problem; I'm assuming it's a SimpleCov problem rather than a Ruby Critic one though. I have to delete `coverage/.resultset.json.lock` before I can run rubycritic successfully (otherwise it runs all the way through and then blows up right at the end).

[2021-03-27 22:15] denny opened #393 "Proposal: same report file structure for one- and two-branch runs"
I was thinking about the HTML report file layout again a few days ago (I know, it's a rock n roll life I lead), and I was wondering if there's any reason for putting the files in a different place when running against a single branch vs when doing a compare between two branches, or if that difference is just an artefact of the order the features were originally added in.

If the files always went

[2021-03-29 15:40] etagwerker commented on #389
@jasonlor Good to know. I just released v4.6.1: https://github.com/whitesmith/rubycritic/blob/main/CHANGELOG.md#v461--2021-01-28-commits

This issue should be fixed in that release too.

Thanks!

[2021-03-29 15:40] #389 closed

[2021-05-15 16:29] Ashvith commented on #381
If this issue is still not fixed, can I work on it?

[2021-11-30 09:29] #214 closed

[2022-03-21 16:06] eprislac opened #402 "Coverage page ignores .resultset.json"
I run specs on Travis CI for pull-requests, but I use Jenkins to generate docs on deployment. I host these directly from Jenkins. So far, I'm able to generate all Rubycritic pages except coverage. Coverage recognizes all my files, but fails to utilize the .resultset.json file I have committed to the repo. All files show up with 0% coverage, even though SimpleCov reports 77% coverage when I look at

[2022-05-04 16:59] akolodii commented on #307
@lauratpa great commit. Will you create PR to this repo?

[2022-05-04 17:26] lauratpa commented on #307
@akolodii This this is the PR :) https://github.com/whitesmith/rubycritic/pull/372

[2022-05-05 15:56] #307 closed

[2022-05-05 15:57] etagwerker opened #404 "Release v4.7.0"
There are a bunch of fixes and features that could be released.

[2022-05-06 13:52] etagwerker opened #406 "Drop support for Ruby 2.4.x"
A couple of things that would be needed:

- [ ] Drop ruby 2.4.x from test suite config -- Stop running the test suite with ruby 2.4
- [ ] Add documentation to the README to point users in the right direction so they can figure out if their ruby version is supported
- [ ] Add required_ruby_version to the gemspec file and make it > 2.4

[2022-05-06 13:53] #404 closed

[2022-05-13 08:09] #406 closed

[2022-05-13 08:17] nunosilva800 opened #409 "Drop support for Ruby 2.5.x"
Akin to https://github.com/whitesmith/rubycritic/issues/406

- [ ] Drop ruby 2.5.x from test suite config -- Stop running the test suite with ruby 2.5
- [ ] Update README to point users in the right direction so they can figure out if their ruby version is supported
- [ ] Add required_ruby_version to the gemspec file and make it >= 2.6

[2022-05-13 11:53] cleicar commented on #409
@nunosilva800 thanks for adding this issue, I'll send a PR later today

[2022-05-23 16:32] #409 closed

[2022-05-29 16:53] viktorianer commented on #14
Would be nice to have it in one gem -_-

[2022-05-30 18:46] piacsek commented on #30
I guess this can be closed, since we can use `.reek.yml` as a configuration file.

[2022-06-03 10:17] radomirz commented on #402
any news on this issue? @eprislac were you able to get coverage results in the rubycritic report?

[2022-06-22 09:53] prtngn opened #412 "flog.rb undefined method `sexp_type'"
Hi. Rubycritic don't work.
RUBY VERSION
   ruby 3.1.2p20

BUNDLED WITH
   2.3.14

rubycritic (4.7.0)

[code]

I try to add sexp_processor to Gemfile, but don't working too.

[2022-06-22 10:03] nunosilva800 commented on #412
The real error is coming from the Flog gem:

[code]

https://github.com/seattlerb/flog/blob/master/lib/flog.rb#L368

A [recent commit](https://github.com/seattlerb/flog/commit/7b774410c127b69b32a29eb11898aa6dfb0121ce) there addressed issues with ruby 3.0. Perhaps this error is due to ruby 3.1.

Do you mind running `flog` on your codebase, perhaps find the file that is causing the problem, and open

[2022-06-22 12:48] prtngn commented on #412
Ok

[2022-06-22 12:48] #412 closed

[2022-07-23 11:01] tcarac commented on #381
Hello!
I think this can be addressed while maintaining backward compatibility.
Adding an example here as a comment, if it's found suitable i'll put up a PR.

[code]

[code]

[2022-07-25 09:44] nunosilva800 commented on #381
@tcarac I see where that is going, and I like it :D

[2022-08-03 20:19] SingleShot opened #413 "Support Wildcards in Configured Paths"
We are using the [packwerk](https://github.com/Shopify/packwerk) gem which helps with partitioning a Rails app into domain-specific packages. A common way to do this is create a `packs` directory, a sub-directory for each domain, and within each of those, the typical Rails `app`, `controllers`, `models`, `specs`, etc. directories. Due to this, we have to configure Rubycritic like this:
[code]

Som

[2022-10-14 15:09] icehaku opened #415 "flog dependency error but only when running on CI:"
ruby 2.7.0p0
Error:

**Full Trace:**

`bundle exec rubycritic

/root/integration-framework/backend/vendor/bundle/ruby/2.7.0/gems/ruby_parser-3.19.1/lib/ruby_parser_extras.rb:1314: warning: regular expression has redundant nested repeat operator '+': /a{1,}+/
/root/integration-framework/backend/vendor/bundle/ruby/2.7.0/gems/ruby_parser-3.19.1/lib/ruby_parser_extras.rb:1314: warning: character class

[2022-10-14 15:09] icehaku commented on #415
Running on the local project I don't get this error;

[2022-10-14 16:00] icehaku commented on #415
Found the "problem";
Just is case someone is as dumb as me;
My project folder was a mixed setup with a frontend folder and a backend folder.
I was creating the .rubycritic.yml file outside of my backend folder;

The backend is my ruby project folder, so the rubycritic commands runs there;

What I was doing:

The proper way:

Because the .rubycritic.yml was in the wrong direct the PATHs I was setti

[2022-10-14 16:00] #415 closed

[2022-10-23 05:01] itsmeurbi commented on #146
I'd like to address this one

[2022-10-23 20:54] itsmeurbi opened #417 "Wrong Rubocop reference in contributing file"
## Description:
[CONTRIBUTING.md](https://github.com/whitesmith/rubycritic/blob/main/CONTRIBUTING.md) has a reference to Rubocop that I believe should be RubyCritic instead

**Current:**

[code]

**Expected:**

[code]

[2022-10-23 21:09] itsmeurbi commented on #308
@etagwerker looks like this was solved [here](https://github.com/whitesmith/rubycritic/pull/394)
I think issue can be closed then

[2022-10-23 21:13] itsmeurbi commented on #213
Currently(v4.7.0) there are no `Rubycritic` modules. I believe this issue can be closed

[2022-10-24 10:20] #213 closed

[2022-10-24 10:25] #417 closed

[2022-11-10 19:22] #308 closed

[2022-11-23 04:24] Fito opened #420 "Proposal: Scope churn calculation to provided paths"
Running `rubycritic` on large repositories with many years of commits can take > 30 minutes. I traced this down to the churn calculation. It is currently hard-coded to run `git log` on `.` which can be very expensive depending on the codebase.
For example, in mono-repositories with multiple projects and/or with multiple languages/frameworks it makes more sense to target RubyCritic's analysis to sp

[2022-11-28 21:26] #146 closed